﻿@model CCTH_Administrador_Pedidos.Models.Destinos

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_PanelAdminCCTH.cshtml";
}

<div class="card" style="padding:15px;height:0 auto;">
    <h2>Nuevo destino</h2>
    <br />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="row">
            <div class="col s12 m6">
                @*@Html.LabelFor(model => model.CedisName, htmlAttributes: new { @class = "col s12 m2" })*@
                <div class="col s12 m12 formcedis ">
                    <span>Destino CCTH</span>
                    @Html.EditorFor(model => model.RouteCodeCCHT, new { htmlAttributes = new { @class = "form-control" , @required = "required" } })
                    @Html.ValidationMessageFor(model => model.RouteCodeCCHT, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col s12 m6">
                @*@Html.LabelFor(model => model.CedisId, htmlAttributes: new { @class = "col s12 m2" })*@
                <div class="col s12 m12 formcedis ">
                    <span>Destino Id</span>
                    @Html.EditorFor(model => model.RouteCodeOpecd, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.RouteCodeOpecd, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m6">
                @*@Html.LabelFor(model => model.CedisName, htmlAttributes: new { @class = "col s12 m2" })*@
                <div class="col s12 m12 formcedis ">
                    <span>Nombre</span>
                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col s12 m6">
                @*@Html.LabelFor(model => model.CedisId, htmlAttributes: new { @class = "col s12 m2" })*@
                <div class="col s12 m12 formcedis ">
                    <span>Supervisor</span>
                    @Html.EditorFor(model => model.Manager, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.Manager, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m6">
                @*@Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label cs12 m2" })*@
                <div class="col s12 m12 formcedis">
                    <span>Cuc</span>
                    @Html.EditorFor(model => model.Cuc, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.Cuc, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
        <div class="col s12 m6">
            @*@Html.LabelFor(model => model.CedisName, htmlAttributes: new { @class = "col s12 m2" })*@
            <div class="col s12 m12 formcedis ">
                <span>Cuc CCTH</span>
                @Html.EditorFor(model => model.CucCCTH, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.CucCCTH, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="ACEPTAR" class="waves-effect waves-light btn colorthme" />
            </div>
        </div>
    }
</div>
