﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PanelAdminCCTH.cshtml";
    
}
<div class="row">
    <div class="col s12 m3 inputsDate20">
        <span style="padding-top:11px;">NOMBRE</span>&emsp;
        <input type="text" id="name" name="name" />
    </div>
    <div class="col s12 m3 inputsDate20">
        <span style="padding-top:11px;">CEDIS</span>&emsp;
        <input type="text" id="cedis" name="cedis" />
    </div>
    <div class="col s12 m3 inputsDate20">
        <span style="padding-top:11px;">STATUS</span>&emsp;
        <select class="browser-default" id="status">
            <option value="" selected>TODOS</option>
            <option value="1">ACTIVO</option>
            <option value="0">INACTIVO</option>
        </select>
    </div>
    <div class="col s12 m3" style="height:60px; padding-top:15px;">
        <button id="searchBtn" onclick="reloadTable()" class="btn btn-default colorthme">Buscar</button>
    </div>
</div>
<p>
    @Html.ActionLink("NUEVO DESTINO", "Create", null, new { @class = "waves-effect waves-light btn colorthme" })
</p>
<div class="row">
    <div class="col s12">
        <div class="row">
            <table  id="destinationsTable" class="striped">
                <thead>
                    <tr>
                        <th style="width:10%;text-align:center;">CEDIS</th>
                        <th style="width:10%;">CÓDIGO CCHT</th>
                        <th style="width:10%;">CÓDIGO OPE</th>
                        <th style="width:10%;">NOMBRE</th>
                        <th style="width:10%;">SUPERVISOR</th>
                        <th style="width:10%;">CUC</th>
                        <th style="width:10%;">STATUS</th>
                        <th style="width:10%;"></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<link rel="stylesheet" href="http://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" type="text/css" />
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script>

    let table;

    $(document).ready(function () {
        debugger;
        table = loadTable(createUriForSearching());
    });

    function loadTable(uriForSearching) {
        return $('#destinationsTable').DataTable({
            "paging": true,
            "pageLength": 20,
            "ordering": true,
            "info": false,
            "searching": false,
            "ajax": {
                "url": uriForSearching,
                "type": "GET",
                "datatype": "json"
            },
            "columns": [
                { "data": "Cedis" },
                { "data": "RouteCodeCCHT" },
                { "data": "RouteCodeOpecd" },
                { "data": "Nombre" },
                { "data": "Manager" },
                { "data": "Cuc" },
                {
                    "render": function (data, type, row, meta) {
                        return row.Enable === 1 ? "Activo" : "Inactivo";
                    }
                },
                {
                    "render": function (data, type, row, meta) {
                        return "<a href='destinos/edit?id=" + row.Id + "'> Editar </a>";
                    }
                },
            ],
            "serverSide" : true
        });
    }

    function createUriForSearching() {
        var status = $("#status").val();
        var name = $("#name").val();
        var cedis = $("#cedis").val();

        var uriForSearching = "@Url.Action("GetDestinations", "Destinos")";
        var filtersChain = "?";

        if (status != null && status != undefined && status != "")
            filtersChain += "&status=" + status;
        if (name != null && name != undefined && name != "")
            filtersChain += "&name=" + name;

        filtersChain += "&cedis=" + @ViewBag.Cedis;

        if (filtersChain.length > 1) {
            filtersChain = filtersChain.replace("&", "");
            return uriForSearching + filtersChain;
        }
        return uriForSearching;
    }

    function reloadTable() {
        table.destroy();
        table = loadTable(createUriForSearching());
    }
</script>