﻿@model IEnumerable<CCTH_Administrador_Pedidos.Models.Productos>
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_PanelAdminCCTH.cshtml";
    int countid = 0;
}
@using (Html.BeginForm("CreateProduct", "Productos", null, FormMethod.Post, htmlAttributes: new { onsubmit = "return CargaDatos(this)" })) {
    <input type="hidden" id="Product" name="Producto" value=""/>
    <input type="hidden" id="Route" name="Ruta" value="" />
<div class="row">
    <div class="col s12 m6 nav-wrapper botonSearh input-field" style="padding:0px 15px;height:35px">
        <input id="searchTerm" type="search" placeholder="Buscar..." style="height:48px;margin-top:-15px;border:1px #E0E0E0 solid;" onkeyup="doSearch()">
        @*<label class="label-icon" for="search"><i class="material-icons">search</i></label>*@
        <i class="material-icons" style="margin-top:-6px;">close</i>
    </div>
    <div class="col s12 offset-m3 m3" style="padding:13px 0px 15px 80px;">
        <input type="submit" class="btn waves-effect waves-light colorthme" id="productAdd" value="AGREGAR" />
    </div>
</div>
<div class="row">
    <div class="col s12 m9" style="height: 510px;padding: 0px 15px;">
        <div class="row">
            <div class="card" style="padding:15px;">
                <h6><b>PRODUCTOS DE OPECD</b></h6> <hr />
                <table class="highlight bodered">
                    <tr>
                        <th style="width:10%">
                            <label>
                                <input type="checkbox" class="" id="productId" onchange="selectAll('product',this.checked)">
                                <span></span>
                            </label>
                        </th>
                        <th style="width:60%">NOMBRE</th>
                        <th style="width:10%;text-align:center;">CÓDIGO</th>
                        <th style="width:10%;text-align:center;">TIPO</th>
                        <th style="width:10%;text-align:center;">CEDIS</th>
                    </tr>
                </table>
                <div class="listaProductNew">
                    <table class="striped highlight" id="datos">
                        @if (ViewBag.count != 0) {
                            foreach (var item in Model) {
                                <tr>
                                    <td style="width:10%">
                                        <label>
                                            <input type="checkbox" class="filled-in" name="product" value="@(item.CodigoProducto)" onchange="selectListCheckProduct(this.checked,this.value)" />
                                            <span></span>
                                        </label>
                                    </td>
                                    <td style="width:60%">@item.Nombre</td>
                                    <td style="width:10%;text-align:center;">@item.CodigoProducto</td>
                                    <td style="width:10%;text-align:center;">@item.Tipo</td>
                                    <td style="width:10%;text-align:center;">@item.Cedis</td>
                                </tr>
                            }
                        }
                        else {
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m2" style="height: 500px;padding-top: 0px;position: relative;">
        <div class="card" style="padding-bottom:10px;">
            <label class="product-routehead">
                <input type="checkbox"  id="routeId" onchange="selectAll('route',this.checked)" />&emsp;
                <span><b>RUTAS</b></span>
            </label>
            <div class="product-route">
                @if (ViewBag.Rutas != null) {
                    foreach (var item in ViewBag.Rutas) {
                <label>
                    <input type="checkbox" name="route" value="@(item.RouteCodeOpecd)" onchange="selectListCheckRoute(this.checked,this.value)" />&ensp;
                    <span>@item.RouteCodeOpecd</span>
                </label>
                    }
                }
            </div>
        </div>
    </div>
</div>
}

<script>
    var checklistProduct = [];
    var checklistRoute = [];

    function statusArrays() {
        //console.clear();
        console.log("Product------");
        console.log(checklistProduct);
        console.log("Route-------- ");
        console.log(checklistRoute);
    }
    function selectListCheckProduct(checked, val) {
        document.getElementById("productId").checked = false;
        if (checked) {
            if (!existCode(val, checklistProduct)) {
                checklistProduct.push(val);
            }
        }
        else {
            if (existCode(val, checklistProduct)) {
                checklistProduct.splice(onChangeCount(val, checklistProduct), 1);
            }
        }
        statusArrays();
    }
    function selectListCheckRoute(checked, val) {
        document.getElementById("routeId").checked = false;
        if (checked) {
            if (!existCode(val, checklistRoute)) {
                checklistRoute.push(val);
            }
        }
        else {
            if (existCode(val, checklistRoute)) {
                checklistRoute.splice(onChangeCount(val, checklistRoute), 1);
            }
        }
        statusArrays();
    }
    function selectAll(name, checked) {
        var items = document.getElementsByName(name);
        //console.log(items);
        for (var i = 0, n = items.length; i < n; i++) {
            //if (items[i].style.display != "none") {
            //    console.log(items[i].defaultValue);
            //}   
            items[i].checked = checked;
            if (name == "route") {
                if (checked) {
                    if (!existCode(items[i].defaultValue, checklistRoute)) {
                        checklistRoute.push(items[i].defaultValue);
                    }
                }
                else {
                    checklistRoute = [];
                }
            }
            if (name == "product") {
                if (checked) {
                    
                    if (!existCode(items[i].defaultValue, checklistProduct) && items[i].style.display == "") {
                        checklistProduct.push(items[i].defaultValue);
                    }
                }
                else {
                    checklistProduct = [];
                }
            }
        }
        statusArrays();
    }
    function existCode(code, array) {
        var resp = false;
        if (array.length == 0) {
            return resp;
        }
        array.forEach(key => {
            if (key == code) {
                resp = true;
            }
        });
        return resp;
    }
    function onChangeCount(value, array) {
        for (var i = 0; i < array.length; i++) {
            if (array[i] == value) {
                return i;
            }
        }
    }
    function CargaDatos() {
        var resp = false;

        if (checklistProduct.length > 0 && checklistRoute.length > 0) {
            document.getElementById('Product').value = checklistProduct;
            document.getElementById('Route').value = checklistRoute;
            resp = true;
        } else {
            if(checklistProduct.length == 0){
                alertsWarning("No hay producto seleccionados.");
            }
            if(checklistRoute.length == 0){
                alertsWarning("No hay rutas seleccionadas.");
            }      
            resp = false;
        }
        return resp;
    }
    function doSearch() {
        var tableReg = document.getElementById('datos');
        var searchText = document.getElementById('searchTerm').value.toLowerCase();
        var cellsOfRow = "";
        var found = false;
        var compareWith = "";

        if (searchText == "") {
            document.getElementById("productId").style.display = '';
        } else {
            document.getElementById("productId").style.display = 'none';
        }

        // Recorremos todas las filas con contenido de la tabla
        for (var i = 0; i < tableReg.rows.length; i++) {
            cellsOfRow = tableReg.rows[i].getElementsByTagName('td');
            found = false;
            // Recorremos todas las celdas
            for (var j = 0; j < cellsOfRow.length && !found; j++) {
                compareWith = cellsOfRow[j].innerHTML.toLowerCase();
                // Buscamos el texto en el contenido de la celda
                if (searchText.length == 0 || (compareWith.indexOf(searchText) > -1)) {
                    found = true;
                }
            }
            if (found) {
                tableReg.rows[i].style.display = '';
            } else {
                // si no ha encontrado ninguna coincidencia, esconde la
                // fila de la tabla
                tableReg.rows[i].style.display = 'none';
            }
        }
    }
</script>