﻿@model CCTH_Administrador_Pedidos.Models.Cedis

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_PanelAdminCCTH.cshtml";
}

<h2>Editar cedi</h2>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CedisName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CedisName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CedisId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CedisId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Enable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Enable)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "waves-effect waves-light btn" }) 
</p>
