﻿@model CCTH_Administrador_Pedidos.Models.Cedis

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_PanelAdminCCTH.cshtml";
}
<div class="card" style="padding:15px;height:0 auto;">
    <h2>Editar cedi</h2>
    <br />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="row">
            <div class="col s12 m6">
                @*@Html.LabelFor(model => model.CedisName, htmlAttributes: new { @class = "col s12 m2" })*@
                <div class="col s12 m12 formcedis ">
                    <span>Cedis CCTH</span>
                    @Html.EditorFor(model => model.CedisName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CedisName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col s12 m6">
                @*@Html.LabelFor(model => model.CedisId, htmlAttributes: new { @class = "col s12 m2" })*@
                <div class="col s12 m12 formcedis ">
                    <span>Cedis Id</span>
                    @Html.EditorFor(model => model.CedisId, new { htmlAttributes = new { @class = "form-control", @name="CedisId"} })
                    @Html.ValidationMessageFor(model => model.CedisId, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6">
                @*@Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label cs12 m2" })*@
                <div class="col s12 m12 formcedis">
                    <span>Nombre</span>
                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col s12 m6">
                @*@Html.LabelFor(model => model.Enable, htmlAttributes: new { @class = "control-label s12 m2" })*@
                <div class="col s12 m12 formcedis">
                    <span>Status</span>
                    @*@Html.EditorFor(model => model.Enable, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Enable, "", new { @class = "text-danger" })*@

                    <select class="browser-default" id="Enable" name="Enable" >
                        <option value="" disabled selected>-o-</option>
                        @if (Model.Enable == 1)
                        {
                            <option value="0">Inactivo</option>
                            <option value="1" selected="selected">Activo</option>
                        }
                        else
                        {
                            <option value="0" selected="selected">Inactivo</option>
                            <option value="1">Activo</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="ACEPTAR" class="waves-effect waves-light btn colorthme" />
            </div>
        </div>
     }
</div>