﻿@model CCTH_Administrador_Pedidos.Models.ViewModels.CustomerVM
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_PanelAdminCCTH.cshtml";
    var formAction = @ViewBag.Action;
}

@using (Html.BeginForm("Create", "OrdenAddresses", null, FormMethod.Post, new { id = "customerForm" }))
{
    <div class="row card" style="padding-left:3%; padding-top:3%;">
        @{ if (@ViewBag.Error != null) { <h2>@ViewBag.Error</h2>}}

        <input type="hidden" id="id" name="id" value="@Model.Id" />
        <input type="hidden" id="CedisId" name="cedisId" value="@ViewBag.CedisId" />
        <input type="hidden" id="CRMId" name="CRMId" value="@Model.CRMId" />
        <input type="hidden" id="CustomerId" name="CustomerId" value="@Model.CustomerId" />
        <input type="hidden" id="CCTHId" name="CCTHId" value="@Model.CCTHId" />
        <input type="hidden" id="CustomerType" name="CustomerType" value="@Model.CustomerType" />
        <input type="hidden" id="customerVarious" value="@Model.CustomerVarious" />
        
        <div class="row">
            <div class="col s12 label">
                <span class="bold"><h4>Datos del Cliente</h4></span>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m2 label">
                <span class="bold">STATUS</span>
            </div>
            <div class="col s12 m3" style="text-align:left;font-weight:bolder;">
                @if (Model.StatusConfirmation == 0)
                {
                    <span style="color:red;">NO VALIDADO</span>
                }
                else
                {
                    <span style="color:blue;">VALIDADO</span>
                }
            </div>
        </div>
        <div class="row">
            <div class="col s12 m2 label">
                <span class="bold">NOMBRE COMPLETO</span>
            </div>
            <div class="col s12 m6">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new {@id= "name", @class = "form-control inputControl notEditable", @value = Model.Name, @required = "required" } })
            </div>
        </div>
        <div class="row">
            <div class="col s12 m2 label">
                <span class="bold">CUC</span>
            </div>
            <div class="col s12 m6">
                @Html.EditorFor(model => model.Cuc, new { htmlAttributes = new { @id = "cuc", @class = "form-control inputControl notEditable", @value = Model.Cuc } })
            </div>
        </div>
        <div class="row">
            <div>
                <div class="col s12 m2 label">
                    <span class="bold">CÓDIGO DE BARRAS</span>
                </div>
                <div class="col s12 m6">
                    @Html.EditorFor(model => model.BarCode, new { htmlAttributes = new { @id="barCode", @class = "form-control inputControl notEditable", @value = Model.BarCode } })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m2 label">
                <span class="bold">EMAIL</span>
            </div>
            <div class="col s12 m6">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @id="email", @class = "form-control inputControl notEditable", @value = Model.Email } })
            </div>
        </div>
        <div class="row">
            <div class="col s12 m2 label">
                <span class="bold">TELEFONO</span>
            </div>
            <div class="col s12 m6">
                @Html.EditorFor(model => model.Telephone, new { htmlAttributes = new { @id="telephone", @class = "form-control inputControl notEditable", @value = Model.Telephone } })
            </div>

        </div>
        <div class="row">
            <div class="col s12 m2 label">
                <span class="bold">TIPO DE DIRECCIÓN</span>
            </div>
            <div class="col s12 m6">
                <select name="addressType" id="addressType" class="browser-default notEditable" style="height:30px;margin-top:-2px;">
                    <option value="shipping" id="shipping">Efectivo</option>
                </select>

            </div>
        </div>
        <div class="row">
            <div class="col s12 m2 label">
                <span class="bold">PAIS</span>
            </div>
            <div class="col s12 m6">
                <select name="Country" id="Country" class="browser-default notEditable" onchange="loadStates()" style="height:30px;margin-top:-2px;"></select>
            </div>

        </div>
        <div class="row">
            <div class="col s12 m2 label">
                <span class="bold">ESTADO</span>
            </div>
            <div class="col s12 m6">
                <select name="state" id="state" class="browser-default notEditable" onchange="loadMunicipalities()" style="height:30px;margin-top:-2px;"></select>
            </div>

        </div>
        <div class="row">
            <div class="col s12 m2 label">
                <span class="bold">CIUDAD</span>
            </div>
            <div class="col s12 m6">
                <select name="City" id="City" class="browser-default notEditable" onchange="loadNeighborhoods()" style="height:30px;margin-top:-2px;"></select>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m2 label">
                <span class="bold">RUTA</span>
            </div>
            <div class="col s12 m6">
                <select name="RouteCode" id="RouteCode" class="browser-default" style="height:30px;margin-top:-2px;">
                    @foreach (var key in ViewBag.Rutas)
                    {
                        if (!string.IsNullOrEmpty(Model.RouteCode) && key.RouteCodeOpecd.ToString() == Model.RouteCode)
                        {
                            <option value="@key.RouteCodeOpecd" id="@key.RouteCodeOpecd" selected>@key.RouteCodeOpecd </option>
                            continue;
                        }
                        <option value="@key.RouteCodeOpecd" id="@key.RouteCodeOpecd">@key.RouteCodeOpecd </option>
                    }
                </select>
            </div>

        </div>

        <div class="row">
            <div class="col s12 m2 label">
                <span class="bold">SUPERVISOR</span>
            </div>
            <div class="col s12 m6">
                @Html.EditorFor(model => model.Manager, new { htmlAttributes = new {@id="supervisor", @class = "form-control inputControl notEditable", @value = Model.Cuc } })
            </div>
        </div>
        <div class="row">
            <div class="col s12 m2 label">
                <span class="bold">CONTACTO</span>
            </div>
            <div class="col s12 m6">
                @Html.EditorFor(model => model.Contact, new { htmlAttributes = new { @id="contact", @class = "form-control inputControl notEditable", @value = Model.Contact, @required = "required" } })
            </div>

        </div>
        <div class="row">
            <div class="col s12 m2 label">
                <span class="bold">DIRECCION FISICA</span>
            </div>
            <div class="col s12 m6">
                @Html.EditorFor(model => model.PhysicalAddress, new { htmlAttributes = new { @id="physicalAddress", @class = "form-control inputControl notEditable", @value = Model.PhysicalAddress } })
            </div>

        </div>
        <div class="row">
            <div class="col s12 m2 label">
                <span class="bold">CALLE</span>
            </div>
            <div class="col s12 m6">
                @Html.EditorFor(model => model.Street, new { htmlAttributes = new { @id="street", @class = "form-control inputControl notEditable", @value = Model.Street } })
            </div>
        </div>
        <div class="row">
            <div class="col s12 m2 label">
                <span class="bold">NUMERO INTERIOR</span>
            </div>
            <div class="col s12 m6">
                @Html.EditorFor(model => model.IndoorNumber, new { htmlAttributes = new { @id="indoorNumber", @class = "form-control inputControl notEditable", @value = Model.IndoorNumber } })
            </div>
        </div>
        <div class="row">
            <div class="col s12 m2 label">
                <span class="bold">NUMERO EXTERIOR</span>
            </div>
            <div class="col s12 m6">
                @Html.EditorFor(model => model.OutdoorNumber, new { htmlAttributes = new { @id="outdoorNumber", @class = "form-control inputControl notEditable", @value = Model.OutdoorNumber } })
            </div>
        </div>
        <div class="row">
            <div class="col s12 m2 label">
                <span class="bold">CRUZAMIENTO 1</span>
            </div>
            <div class="col s12 m6">
                @Html.EditorFor(model => model.Intersection1, new { htmlAttributes = new { @id="intersection1", @class = "form-control inputControl notEditable", @value = Model.Intersection1 } })
            </div>

        </div>
        <div class="row">
            <div class="col s12 m2 label">
                <span class="bold">CRUZAMIENTO 2</span>
            </div>
            <div class="col s12 m6">
                @Html.EditorFor(model => model.Intersection2, new { htmlAttributes = new { @id = "intersection2", @class = "form-control inputControl notEditable", @value = Model.Intersection2 } })
            </div>
        </div>

        <div class="row">
            <div class="col s12 m2 label">
                <span class="bold">COLONIA</span>
            </div>
            <div class="col s12 m6">
                <select id="neighborhood-select" name="Neighborhood" class="browser-default" style="height:30px;margin-top:-2px;"></select>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m2 label">
                <span class="bold">CÓDIGO POSTAL</span>
            </div>
            <div class="col s12 m6">
                @Html.EditorFor(model => model.PostCode, new { htmlAttributes = new { @id="postCode", @class = "form-control inputControl", @value = Model.PostCode, @required = "required" } })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col s12 m12 label">
                <span class="bold">DIAS DE VISITA </span>
                <input type="button" value="VER SUGERIDOS" onclick="setVisitDays()" />
            </div>
        </div>
        <div class="row">
            <div class="col s12 m12 listvisits label">
                <label>
                    <input class="checkboxInput" type="checkbox" id="monday" name="monday">
                    <span class="">LUNES</span>
                </label>&emsp;

                <label>
                    <input class="checkboxInput" type="checkbox" id="tuesday" name="tuesday" value="false" />
                    <span>MARTES</span>
                </label>&emsp;

                <label>
                    <input class="checkboxInput" type="checkbox" id="wednesday" name="wednesday" value="false" />
                    <span>MIERCOLES</span>
                </label>&emsp;

                <label>
                    <input class="checkboxInput" type="checkbox" id="thursday" name="thursday" value="false" />
                    <span>JUEVES</span>
                </label>&emsp;

                <label>
                    <input class="checkboxInput" type="checkbox" id="friday" name="friday" value="false" />
                    <span>VIERNES</span>
                </label>&emsp;

                <label>
                    <input class="checkboxInput" type="checkbox" id="saturday" name="saturday" value="false" />
                    <span>SABADO</span>
                </label>&emsp;

                <label>
                    <input class="checkboxInput" type="checkbox" id="sunday" name="sunday" value="false" />
                    <span>DOMINGO</span>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col s12 offset-m9 m3">
                @if (Model.OrderGeneralId > 0)
                {
                    <a class="btn btn-default" href="@Url.Action("Details", "OrdenGenerals", new
                        {
                            status = Session["OrderStatus"],
                            date = Session["OrderDelivaryDate"],
                            route = Session["OrderRoute"],
                            id = Session["OrderOpeId"]
                        })">ATRAS</a>
                }
                else
                {
                    <a class="btn btn-default" href="@Url.Action("Index", "OrdenAddresses")">ATRAS</a>
                }
                
                <input type="button" id="saveBtn" value="AGREGAR" class="btn btn-default" />

            </div>
        </div>
        <div id="habilitarFacturacion" class="row">
            <div class="col s12 m2 label">
                <span class="bold">REQUIERE FACTURA</span>
            </div>
            <div class="col s12 m3">
                <input type="checkbox" id="customerVariousCheck" style="pointer-events:initial !important" name="customerVarious" value="0" />
                <input type="hidden" id="wantBill" name="wantBill" value="" />
            </div>
        </div>
    </div>

    <div id="datosFacturacion" class="row card">

        <div class="row">
            <div class="col s12 label">
                <span class="bold"><h4>Datos de Facturación</h4></span>
            </div>
        </div>
        
        <input type="hidden" id="OrderGeneralId" name="OrderGeneralId" value="@Model.OrderGeneralId" />
        <input type="hidden" id="OrderAddressId" name="OrderAddressId" value="@Model.OrderAddressId" />

        <div class="row">
            <div class="col s12 m2 label">
                <span class="bold">Nombre</span>
            </div>
            <div class="col s12 m6">
                <input id="billingFirstname" name="billingFirstname" class="form-control inputControl" value="@Model.BillingFirstname" />
            </div>
        </div>
        <div class="row">
            <div class="col s12 m2 label">
                <span class="bold">Apellidos</span>
            </div>
            <div class="col s12 m6">
                <input id="billingLastname" name="billingLastname" class="form-control inputControl" value="@Model.BillingLastname" />
            </div>
        </div>
        <div class="row">
            <div class="col s12 m2 label">
                <span class="bold">RFC</span>
            </div>
            <div class="col s12 m6">
                <input id="billingRfc" name="billingRfc" class="form-control inputControl" value="@Model.BillingRfc" />
            </div>
        </div>
        <div class="row">
            <div class="col s12 m2 label">
                <span class="bold">Email</span>
            </div>
            <div class="col s12 m6">
                <input id="billingEmail" name="billingEmail" class="form-control inputControl" value="@Model.Email" />
            </div>
        </div>
        <div class="row">
            <div class="col s12 m2 label">
                <span class="bold">Telefono</span>
            </div>
            <div class="col s12 m6">
                <input id="billingTelephone" name="billingTelephone" class="form-control inputControl" value="@Model.BillingTelephone" />
            </div>
        </div>
        <div class="row">
            <div class="col s12 m2 label">
                <span class="bold">Empresa</span>
            </div>
            <div class="col s12 m6">
                <input id="billingCompany" name="billingCompany" class="form-control inputControl" value="@Model.BillingCompany" />
            </div>
        </div>
        <div class="row">
            <div class="col s12 m2 label">
                <span class="bold">Calle</span>
            </div>
            <div class="col s12 m6">
                <input id="billingStreet" name="BillingStreet" class="form-control inputControl" value="@Model.BillingStreet" />
            </div>
        </div>
        <div class="row">
            <div class="col s12 m2 label">
                <span class="bold">Numero</span>
            </div>
            <div class="col s12 m6">
                <input id="billingNumber" name="billingNumber" class="form-control inputControl" value="@Model.BillingNumber" />
            </div>
        </div>
        <div class="row">
            <div class="col s12 m2 label">
                <span class="bold">Estado</span>
            </div>
            <div class="col s12 m6">
                <input id="billingCity" name="billingCity" class="form-control inputControl" value="@Model.BillingCity" />
            </div>
        </div>
        <div class="row">
            <div class="col s12 m2 label">
                <span class="bold">Ciudad</span>
            </div>
            <div class="col s12 m6">
                <input id="billingMunicipality" name="billingMunicipality" class="form-control inputControl" value="@Model.BillingMunicipality" />
            </div>
        </div>
        <div class="row">
            <div class="col s12 m2 label">
                <span class="bold">Colonia</span>
            </div>
            <div class="col s12 m6">
                <input id="billingNeighborhood" name="billingNeighborhood" class="form-control inputControl" value="@Model.BillingNeighborhood" />
            </div>
        </div>
        <div class="row">
            <div class="col s12 m2 label">
                <span class="bold">Codigo Postal</span>
            </div>
            <div class="col s12 m6">
                <input id="billingPostCode" name="billingPostCode" class="form-control inputControl" value="@Model.BillingPostCode" />
            </div>
        </div>
    </div>
}

<script src="~/Scripts/jquery-2.1.1.min.js"></script>
<script>

    $(document).ready(function () {

        loadDropdowns();
        let orderId = $('#OrderGeneralId').val();
        if (typeof (orderId) === 'undefined' || orderId === null || orderId === '0')
            loadCustomerForm();
        else
            loadCustomerAndBillingForm();
    });

    function save() {
        debugger;
        let formData = {
            Id: $('#id').val(),
            CustomerId: $('#CustomerId').val(),
            CRMId: $('#CRMId').val(),
            //StatusConfirmation: $('#').val(),
            Name: $('#name').val(),
            Cuc: $('#cuc').val(),
            BarCode: $('#barCode').val(),
            //PriceList: $('#').val(),
            //Sequence: $('#').val(),
            DistributionCenter: $('#CedisId').val(),
            RouteCode: $('#RouteCode').val(),
            Manager: $('#supervisor').val(),
            PhysicalAddress: $('#physicalAddress').val(),
            Street: $('#street').val(),
            IndoorNumber: $('#indoorNumber').val(),
            OutdoorNumber: $('#outdoorNumber').val(),
            Intersection1: $('#intersection1').val(),
            Intersection2: $('#intersection2').val(),
            Country: $('#Country').val(),
            State: $('#state').val(),
            City: $('#City').val(),
            Neighborhood: $('#neighborhood-select').val(),
            //ClientType: $('#').val(),
            CustomerVarious: $('#customerVariousCheck').val(),
            CustomerType: $('#CustomerType').val(),
            Email: $('#email').val(),
            PostCode: $('#postCode').val(),
            Telephone: $('#telephone').val(),
            //Latitude: $('#').val(),
            //Longitude: $('#').val(),
            //CreatedOn: $('#').val(),
            //ModifiedOn: $('#').val(),
            Contact: $('#contact').val(),
            //Description: $('#').val(),
            AddressType: $('#addressType').val(),
            Monday: $('#monday').val(),
            Tuesday: $('#tuesday').val(),
            Wednesday: $('#wednesday').val(),
            Thursday: $('#thursday').val(),
            Friday: $('#friday').val(),
            Saturday: $('#saturday').val(),
            Sunday: $('#sunday').val(),
            CCTHId: $('#CCTHId').val(),
            WantBill: $('#wantBill').val(),
            OrderGeneralId: $('#OrderGeneralId').val(),
            OrderAddressId: $('#OrderAddressId').val(),
            BillingPostCode: $('#billingPostCode').val(),
            BillingLastname: $('#billingLastname').val(),
            BillingFirstname: $('#billingFirstname').val(),
            BillingCity: $('#billingCity').val(),
            BillingEmail: $('#billingEmail').val(),
            BillingTelephone: $('#billingTelephone').val(),
            BillingCompany: $('#billingCompany').val(),
            BillingRfc: $('#billingRfc').val(),
            BillingNumber: $('#billingNumber').val(),
            BillingStreet: $('#billingStreet').val(),
            BillingNeighborhood: $('#billingNeighborhood').val(),
            BillingMunicipality: $('#billingMunicipality').val()
        };
        let cback = function(response){
            if(response.complete)
                window.location.href = response.url;
            else{
                alert(response.message);
            }
        }
        executeRequest('@Url.Action(formAction, "OrdenAddresses")', 'POST', formData, cback)
    }

    function loadDropdowns() {
        if ($('#id').val() !== "") {
            loadCountriesForEdition();
        } else {
            loadCountries();
        }
    }
    function loadCustomerForm() {
        debugger;
        showBillingData(false);
        $('#habilitarFacturacion').hide();
        $('#customerVariousCheck').val(false);
        checkCustomerVisitDays();

        $("#saveBtn").click(function () {
            debugger;
            setCheckboxValue();
            let formAction = '@ViewBag.Action';
            let url =
            setFormConfiguration('customerForm', 'POST', "@Url.Action(formAction, "OrdenAddresses")");
            save();
            //$("#customerForm").submit();
        });
    }
    function loadCustomerAndBillingForm() {
        debugger;
        let customerVarious = !("@Model.WantBill" !== "False");
        setValueToCustomerVariousCheck(customerVarious);
        checkCustomerVisitDays();
        $('#customerVariousCheck').click(function () {
            customerVariousChanged();
        });
        $("#saveBtn").click(function () {
            debugger;
            setValueToCustomerVariousCheck(!$('#customerVariousCheck').prop("checked"));
            setCheckboxValue();
            let formAction = '@ViewBag.Action';
            let url =
            setFormConfiguration('customerForm', 'POST', "@Url.Action(formAction, "OrdenAddresses")");
            save();
            //$("#customerForm").submit();
        });
    }


    function showBillingData(showConfirmation) {
        if (showConfirmation === true)
            $('#datosFacturacion').show();
        else
            $('#datosFacturacion').hide();
    }

    function loadDropdownOptions(dropdownId, uriToGetDropdownOptions, callback){
        carga();
        let addOptionsCB = function(response){
            $('#'+dropdownId).children('option').remove();
            if(response.Records.length > 0){
                response.Records.forEach(function(record){
                    $('#'+dropdownId).append(`<option value="${record.OpeId}"> ${record.Name} </option>`);
                });
            }
            if(typeof(callback) === 'function')
                callback();
        }
        let countries = executeRequest(uriToGetDropdownOptions, 'GET', null, addOptionsCB);
        ocultarCarga();
    }

    function loadCountriesForEdition(){
        loadDropdownOptions('Country','@Url.Action("getCountries", "locations")', loadStatesForEdition);
    }

    function loadStatesForEdition(){
        $('#Country').val('@Model.Country');
        let countryOpeId = $('#Country').val();
        loadDropdownOptions('state','@Url.Action("getStates", "locations")?paisOpeId=' + countryOpeId, loadMunicipalitiesForEdition);
    }

    function loadMunicipalitiesForEdition(){
        $('#state').val('@Model.State');
        let stateOpeId = $('#state').val();
        if(stateOpeId === '0' || stateOpeId === null)
            stateOpeId = 0;
        loadDropdownOptions('City','@Url.Action("getMunicipalities", "locations")?estadoOpeId=' + stateOpeId, loadNeighborhoodsForEdition);
    }

    function loadNeighborhoodsForEdition(){
        $('#City').val('@Model.City');
        let stateOpeId = $('#state').val();
        if(stateOpeId === '0' || stateOpeId === null)
            stateOpeId = 0;
        let municipalityOpeId = $('#City').val();
        if(municipalityOpeId === '0' || municipalityOpeId === null)
            municipalityOpeId = 0;
        loadDropdownOptions('neighborhood-select',`@Url.Action("GetNeighborhoods", "locations")?estadoOpeId=${stateOpeId}&municipioOpeId=${municipalityOpeId}`, function(){$('#neighborhood-select').val('@Model.Neighborhood')});
    }


    function loadCountries(){
        loadDropdownOptions('Country','@Url.Action("getCountries", "locations")', loadStates);
    }

    function loadStates()
    {
        let countryOpeId = $('#Country').val();
        loadDropdownOptions('state','@Url.Action("getStates", "locations")?paisOpeId=' + countryOpeId, loadMunicipalities);
    }

    function loadNeighborhoods(){
        let stateOpeId = $('#state').val();
        if(stateOpeId === '0' || stateOpeId === null)
            stateOpeId = 0;
        let municipalityOpeId = $('#City').val();
        if(municipalityOpeId === '0' || municipalityOpeId === null)
            municipalityOpeId = 0;
        loadDropdownOptions('neighborhood-select',`@Url.Action("GetNeighborhoods", "locations")?estadoOpeId=${stateOpeId}&municipioOpeId=${municipalityOpeId}`, null);
    }

    function loadMunicipalities(callback){
        let stateOpeId = $('#state').val();
        if(stateOpeId === '0' || stateOpeId === null)
            stateOpeId = 0;
        loadDropdownOptions('City','@Url.Action("getMunicipalities", "locations")?estadoOpeId=' + stateOpeId, loadNeighborhoods);
    }

    function setValueToCustomerVariousCheck(checked){
        debugger;
        $('#customerVariousCheck').prop("checked", !checked);
        $('#customerVariousCheck').val(checked);
        $('#wantBill').val(!checked);
        showBillingData(!checked);
        setCucValue();
    }

    function customerVariousChanged() {
        let checked = $('#customerVariousCheck').prop("checked");
        $('#customerVariousCheck').val(!checked);
        $('#wantBill').val(checked);
        showBillingData(checked);
        setCucValue();
    }

    function checkCustomerVisitDays(){

        if("@Model.Monday" == "True"){
            document.getElementById("monday").checked = true;
        }
        if ("@Model.Tuesday" == "True") {
            document.getElementById("tuesday").checked = true;
        }
        if ("@Model.Wednesday" == "True") {
            document.getElementById("wednesday").checked = true;
        }
        if ("@Model.Thursday" == "True") {
            document.getElementById("thursday").checked = true;
        }
        if ("@Model.Friday" == "True") {
            document.getElementById("friday").checked = true;
        }
        if ("@Model.Saturday" == "True") {
            document.getElementById("saturday").checked = true;
        }
        if ("@Model.Sunday" == "True") {
            document.getElementById("sunday").checked = true;
        }
    }

    function setFormConfiguration(formId, methodAttribute, actionAttribute) {
        $("#" + formId).attr("action", actionAttribute);
        $("#" + formId).attr("method", methodAttribute);
    }


    function setCheckboxValue() {
        var days = new Array("monday", "tuesday", "wednesday", "thursday", "friday", "saturday", "sunday");
        for (var i = 0; i < days.length; i++) {
            var checked = $("#" + days[i]).prop("checked");
            $("#" + days[i]).val(checked);
        }
    }

    function setVisitDays() {

        let cedisId = $("#CedisId").val();
        let routeId = $("#RouteCode").val();
        let zipCode = $("#PostCode").val();
        let neighborhood = $("#neighborhood-select").val();

        if (!isNullOrEmpty(cedisId) && !isNullOrEmpty(routeId) && !isNullOrEmpty(zipCode) && !isNullOrEmpty(neighborhood)) {
            getVisitDays(cedisId, routeId, zipCode, neighborhood,
                function (response) {
                    if (response.data.length == 0) {
                        alert(`No existen dias de visita sugeridos para el cedis ${cedisId}, ruta ${routeId}, codigo postal ${zipCode} y colonia ${neighborhood}`);
                        return;
                    }
                    clearVisitDays();
                    for (let i = 0; i < response.data.length; i++) {
                        checkVisitDay(response.data[i]);
                    }
                });
        }
        else {
            alert("Debe seleccionar una ruta, codigo postal y colonia para ver los dias de visita sugeridos");
        }
    }


    function getVisitDays(cedisId, routeId, zipCode, neighborhood, callback) {
        $.ajax({
            url: "@Url.Action("GetVisitDays","OrdenAddresses")" + "?cedisId=" + cedisId + "&routeId=" + routeId + "&zipCode=" + zipCode + "&neighborhood=" + neighborhood,
            type: "GET",
            datatype: "json",
            success:
                function (response) {
                    if (typeof (callback) === 'function')
                        callback(response);
                    return response;
                },
            error:
                function (xhr, ajaxOptions, thrownError) {
                    alert(thrownError);
                }
        });
    }

    function checkVisitDay(dayOfWeek) {
        switch (dayOfWeek) {
            case 1:
                $("#monday").prop("checked", true);
                break;
            case 2:
                $("#tuesday").prop("checked", true);
                break;
            case 3:
                $("#wednesday").prop("checked", true);
                break;
            case 4:
                $("#thursday").prop("checked", true);
                break;
            case 5:
                $("#friday").prop("checked", true);
                break;
            case 6:
                $("#saturday").prop("checked", true);
                break;
            case 7:
                $("#sunday").prop("checked", true);
                break;
        }
    }

    function isNullOrEmpty(str) {
        if (typeof(str) === 'undefined' || str === null || str === "")
            return true;
        return false;
    }

    function clearVisitDays() {
        $(".checkboxInput").prop("checked", false);
    }

    function setCucValue(){

        @*if($('#customerVariousCheck').prop('checked') === false){
            let setGenericCuc_Callback = function(response){
                //$('#cuc').val(response.data[0].Cuc);
                $('#cuc').prop('readonly', true);
            }
            serviceUri = '@Url.Action("GetDestinations","Destinos")' + '?cedis=' + @ViewBag.CedisId + "&opeRoute=" + $('#RouteCode').val();
            executeRequest(serviceUri, "GET", null, setGenericCuc_Callback);
        } else {
            $('#cuc').prop('readonly', false);
            $('#cuc').val(@Model.Cuc);
        }*@
    }
</script>
