﻿<!-- Modal Structure -->
<div id="searchcustomermodal" class="modal" style="max-height:465px !important;">
    <div class="modal-content" style="border-radius:0px !important;">
        <div class="row">
            <div class="col s3"><b><span>Buscar</span></b></div>
            <div class="col offset-s6 s3" style="position:relative;">
                <a class="waves-effect waves-light btn colorthme" onclick="SearchAdvanceSelect('customers');" style="position:absolute;right:1px;">BUSCAR</a>
            </div>
        </div>
        <div class="row searchParameters">
            <div class="col s12 m6">
                <span>NOMBRE:</span><input type="text" id="FName" name="FName" onkeyup="validateInputRegexCharacterSpecial(event)" />
            </div>
            <div class="col s12 m6">
                <span>EMAIL:</span><input type="text" id="FEmail" />
            </div>
            <div class="col s2 m6">
                <span>TEL:</span><input type="text" id="FTel" />
            </div>
            <div class="col s2 m6">
                <span>CUC:</span><input type="text" onkeypress='return validaNumericos(event)' maxlength="6" value="0" id="FCuc" />
            </div>
            <div class="col s2 m6">
                <span>CÓDIGO DE BARRAS:</span><input type="text" maxlength="15" id="FBarCode" />
            </div>
        </div>
        <div class="row" style="height:205px !important;overflow-y:scroll !important;">
            <table id="dataCustomers" class="table striped highlight" style="height:65px !important;">
                <tr>
                    <th>NOMBRE</th>
                    <th>EMAIL</th>
                    <th>TEL</th>
                    <th>CUC</th>
                    <th>CÓDIGO DE BARRAS</th>
                </tr>
            </table>
        </div>

    </div>
</div>

<div id="searchProductmodal" class="modal" style="max-height:395px !important;">
    <div class="modal-content" style="border-radius:0px !important;">
        <div class="row">
            <div class="col s3"><b><span>Buscar</span></b></div>
            <div class="col offset-s6 s3" style="position:relative;">
                <a class="waves-effect waves-light btn colorthme" onclick="SearchAdvanceSelect('products');" style="position:absolute;right:1px;">BUSCAR</a>
            </div>
        </div>
        <div class="row searchParameters">
            <div class="col s12 m6">
                <span>NOMBRE:</span><input type="text" id="FNameProduct" name="FName" onkeyup="validateInputRegexCharacterSpecial(event)" />
            </div>
            <div class="col s12 m6">
                <span>CÓDIGO:</span><input type="text" id="FCodeProduct" />
            </div>
        </div>
        <div class="row" style="height:165px !important;overflow-y:scroll !important;">
            <table id="dataProducts" class="table striped highlight" style="height:65px !important;">
                <tr>
                    <th>NOMBRE</th>
                    <th>CÓDIGO</th>
                    <th>TIPO</th>
                </tr>
            </table>
        </div>

    </div>
</div>