﻿
@{
    ViewBag.Title = "Administrador Pedidos";
    var sesion = Session["UserID"] as CCTH_Administrador_Pedidos.Models.LoginResponse;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!--Import materialize.css-->
    <link rel="stylesheet" href="~/Content/materialize/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>@ViewBag.Title</title>
    <style>
        body {
            /*zoom: 75%; 
            overflow: hidden;*/
            background: #FAFAFA;
        }
        #rederbody {
            /*height: 710px;
            padding-top: 0px;*/
        }
        #header {
            position:fixed;
            left:0px;
            right:0px;
            z-index:80;
        }

        .inputsDate20 i {
            padding-top: 12px;
        }
        .inputsDate20 input,.inputsListDrop20 select,.inputsDate20 select {
            /*border:1px red solid !important;*/
            height:40px !important;
        }
        .colorthme {
            background:#F94F00;
        }
        .colorthmewhite ul li a,.colorthmewhite{
            background: white;
            color:black !important;
        }
        .colorthmewhite ul li a:hover{
            background:rgba(234,234,234,.8);
            color:black !important;
        }

        .collection .collection-item.active {
            background:#F94F00;
            color:white !important;
            z-index:100px;
        }
        nav div ul .colorthmewhiteactive a {
             background:rgba(234,234,234,.8) !important;
            color:black !important;       
        }

        .collection-item {
            color:#F94F00 !important;
        }
        .input-field input[type=text]:focus {
            border-bottom: 1px solid rgb(254,254,254);
            box-shadow: 0 1px 0 0 rgb(254,254,254);
        }
        #ccthsite {
            display:inline;
        }
        .ccthmobil {
            display:none;
        }
        #ccthsiteresponsive {
            display:none;
        }
        .g-alert {
            border:1px #FAEBCC solid;
            background: #FCF8E3;
            color:#D19840;
            font-weight:bold;
            height:0 auto;
            left:0px;
            right:0px;
            top:3px;
            padding:20px;
            position:absolute;
            display: none;
	        flex-direction: row;
	        flex-wrap: nowrap;
	        justify-content: center;
	        align-items: flex-end;
	        align-content: stretch;
            z-index:200;
        }
        .g-success {
            border:1px #D6E9C6 solid;
            background: #DFF0D8;
            color:#3C763D;
            font-weight:bold;
            height:0 auto;
            left:0px;
            right:0px;
            top:3px;
            padding:20px;
            position:absolute;
            display: none;
	        flex-direction: row;
	        flex-wrap: nowrap;
	        justify-content: center;
	        align-items: flex-end;
	        align-content: stretch;
            z-index:200;
        }
        @@media only screen and ( max-width: 1366px){
            body {
                zoom: 70%;
                background: #FAFAFA;
            }
        }
        @@media only screen and ( max-width: 765px){
            body {
                zoom: 80%;
                /*overflow: scroll;*/
                background: #FAFAFA;
            }
            #ccthsite {
                display:none;
            }
            .ccthmobil {
                display:inline;
            }
            #ccthsiteresponsive {
                display:none;
            }
            .g-alert {
                border:1px #FAEBCC solid;
                background: #FCF8E3;
                color:#D19840;
                font-weight:bold;
                height:0 auto;
                bottom:1px;
                padding:20px;
                position:absolute;
                display: none;
	            flex-direction: row;
	            flex-wrap: nowrap;
	            justify-content: center;
	            align-items: flex-end;
	            align-content: stretch;
                z-index:200;
            }
            .g-success {
                border:1px #D6E9C6 solid;
                background: #DFF0D8;
                color:#3C763D;
                font-weight:bold;
                height:0 auto;
                bottom:1px;
                padding:20px;
                position:absolute;
                display: none;
	            flex-direction: row;
	            flex-wrap: nowrap;
	            justify-content: center;
	            align-items: flex-end;
	            align-content: stretch;
                z-index:200;
            }
        }
        .marca {
            border: 1px red solid;
        }
        #date:focus {
            border-bottom:rgb(254,254,254) !important;
        }
        #carga {
            position: fixed;
            font-size: 20px;
            color: #510276;
            width: 100%;
            height: 200%;
            top: 0px;
            padding-top: 20%;
            background: rgba(245,246,250,0.9);
            display: none;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: center;
            align-content: stretch;
            z-index: 100;
        }
        .bold {
            font-weight:bold;
        }
        .btn:hover, .btn-large:hover, btn:focus {
            background:#F94F00 !important;
            opacity:0.4 !important;
        }
        .card .row .label {
            padding-left: 5%;
        }
        .listvisits {
	        display: flex;
	        flex-direction: row;
	        flex-wrap: nowrap;
	        justify-content: flex-start;
	        align-items: center;
	        align-content: stretch;  
        }
        .botonSearh {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: stretch;
            align-content: stretch;
        }

        .contenedor {
            height: 100vh;
        }

        #slider {
            position: fixed; /*test*/
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: stretch;
            align-content: stretch;
            border: 1px #E0E0E0 solid;
            border-bottom: none;
            border-top: none;
            padding: 0px;
        }

        .checkboxInput {
            position: initial !important;
            opacity: 1 !important;
            margin-left: 10px;
        }

        .radioBtn{
            position: initial !important;
            opacity: 1 !important;
        }

        .inputsDate20 {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: stretch;
            align-content: stretch;
            padding-top: 35px;
        }

        .inputsListDrop20 {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: stretch;
            align-content: stretch;
            padding-top: 35px;
        }

        .inputsFormRow {
            /*border:1px red solid;*/
            height: 50px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: stretch;
            align-content: stretch;
        }
        inputsFormRowBill {
            height: 20px !important;
	        display: flex;
	        flex-direction: row;
	        flex-wrap: nowrap;
	        justify-content: flex-start;
	        align-items: stretch;
	        align-content: stretch;        
        }

            .inputsFormRow span {
                font-weight: bolder;
                padding: 25px 0px 0px 15px;
                width: 30%;
            }

            .inputsFormRow input {
                padding: 15px !important;
                width: 60% !important;
                margin-left: 10px !important;
            }

            .inputsFormRow select {
                padding: 15px !important;
                width: 65% !important;
                margin-left: 10px !important;
            }


        /* ***********Detalles***************** */
        #DetClientes, #DetProductos {
            /*border:1px red solid;
            height:230px;*/
        }
        /*#DetProductos {
            height:250px;
        }*/
        .inputControl {
            font-size: 12px;
            height: 1rem !important;
            padding-bottom: 20px;
            border: 1px red solid;
        }
        /* ***********scroll style***************** */
        .listIndex {
            height: 610px !important;
            /*border: 1px solid black;*/
            padding-top: 0px;
            overflow-y: scroll !important;
        }

            .listIndex::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
                background-color: #F5F5F5;
            }

            .listIndex::-webkit-scrollbar {
                width: 10px;
                background-color: #F5F5F5;
            }

            .listIndex::-webkit-scrollbar-thumb {
                background-color: rgba(0,0,0,0.1);
                border: 1px solid rgba(254,254,254,0.1);
            }

        .listDetail {
            height: 165px !important;
            /*border: 1px solid black;*/
            padding-top: 5px;
            overflow-y: scroll !important;
        }

            .listDetail::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
                background-color: #F5F5F5;
            }

            .listDetail::-webkit-scrollbar {
                width: 10px;
                background-color: #F5F5F5;
            }

            .listDetail::-webkit-scrollbar-thumb {
                background-color: rgba(0,0,0,0.1);
                border: 1px solid rgba(254,254,254,0.1);
            }

        .listProducto {
            height: 480px !important;
            /*border: 1px solid black;*/
            padding-top: 5px;
            overflow-y: scroll !important;
        }

            .listProducto::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
                background-color: #F5F5F5;
            }

            .listProducto::-webkit-scrollbar {
                width: 10px;
                background-color: #F5F5F5;
            }

            .listProducto::-webkit-scrollbar-thumb {
                background-color: rgba(0,0,0,0.1);
                border: 1px solid rgba(254,254,254,0.1);
            }
        
       .listIndexProduct {
            height: 410px !important;
            /*border: 1px solid black;*/
            padding-top: 5px;
            overflow-y: scroll !important;
        }

            .listIndexProduct::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
                background-color: #F5F5F5;
            }

            .listIndexProduct::-webkit-scrollbar {
                width: 10px;
                background-color: #F5F5F5;
            }

            .listIndexProduct::-webkit-scrollbar-thumb {
                background-color: rgba(0,0,0,0.1);
                border: 1px solid rgba(254,254,254,0.1);
            }
       
       .listIndexCustomer {
            height: 480px !important;
            /*border: 1px solid black;*/
            padding-top: 5px;
            overflow-y: scroll !important;
        }

            .listIndexCustomer::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
                background-color: #F5F5F5;
            }

            .listIndexCustomer::-webkit-scrollbar {
                width: 10px;
                background-color: #F5F5F5;
            }

            .listIndexCustomer::-webkit-scrollbar-thumb {
                background-color: rgba(0,0,0,0.1);
                border: 1px solid rgba(254,254,254,0.1);
            }
             
       .inputMin {
            /*border: 1px red solid !important;*/
            height: 20px !important;
        }
        /* ***********cedis product***************** */
		#productAdd{         
            font-weight:bold;
		}
		.product-routehead{
            font-size: 16px !important;
			padding: 15px;
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: flex-start;
			align-items: stretch;
			align-content: stretch;			
		}
        .product-route label {
            font-size: 16px !important;
        }
		.product-route{           
			padding: 15px;
			height: 408px;
			overflow-y: scroll !important;
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			justify-content: flex-start;
			align-items: stretch;
			align-content: stretch;			
		}
            .product-route::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
                background-color: #F5F5F5;
            }

            .product-route::-webkit-scrollbar {
                width: 10px;
                background-color: #F5F5F5;
            }

            .product-route::-webkit-scrollbar-thumb {
                background-color: rgba(0,0,0,0.1);
                border: 1px solid rgba(254,254,254,0.1);
            }

		.listaProductNew {
            height: 350px !important;
            overflow-y: scroll !important;
        }
            .listaProductNew::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
                background-color: #F5F5F5;
            }

            .listaProductNew::-webkit-scrollbar {
                width: 10px;
                background-color: #F5F5F5;
            }
            .listaProductNew::-webkit-scrollbar-thumb {
                background-color: rgba(0,0,0,0.1);
                border: 1px solid rgba(254,254,254,0.1);
            }

        /* ***********cedis style***************** */
        .formcedis {
            /*border:1px red solid;*/
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: stretch;
            align-content: stretch;
        }

            .formcedis span {
                /*border:1px red solid;*/
                width: 20%;
                padding-top: 15px;
            }

            .formcedis select {
                width: 90%;
                height: 70px;
            }

        .selectSearchProd:hover {
            background: #F5F5F5;
        }

    /* label focus color */
        input[type=text]:focus + label,input[type=password]:focus + label,input[type=number]:focus + label,input[type=search]:focus + label,input[type=text]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
         color: #F94F00 !important;
        }

    /* label underline focus color */
        input[type=text]:focus,input[type=number]:focus,input[type=date]:focus,input[type=password]:focus,input[type=search]:focus, .materialize-textarea:focus:not([readonly]) {
         border-bottom: 1px solid #F94F00 !important;
         box-shadow: 0 1px 0 0 #F94F00 !important;
        }
        input[type="checkbox"]:not(:checked), input[type="checkbox"]:checked {
            position: relative !important;
            opacity:1 !important;
            left:0px !important;
        }
        .colorthmewhiteHover {
            background:rgba(234,234,234,1) !important;
            color:black !important;         
        }
        table.dataTable thead th, table.dataTable thead th {
           border-bottom: 1px solid #FAFAFA !important; 
        } 
        input[type=checkbox]
        {
          /* Double-sized Checkboxes */
          -ms-transform: scale(1.5); /* IE */
          -moz-transform: scale(1.5); /* FF */
          -webkit-transform: scale(1.5); /* Safari and Chrome */
          -o-transform: scale(1.5); /* Opera */
          padding: 10px;
        }
        #ordersTable tbody tr td, #customersTable tbody tr td{
            height:40px;
        }

        /* **************** modals  ****************************/
        #dataCustomers tr th {
            height:30px;
        }
        .searchParameters div{
 	        display: flex;
	        flex-direction: row;
	        flex-wrap: nowrap;
	        justify-content: center;
	        align-items: stretch;
	        align-content: stretch;           
        }
        .searchParameters div input{
 	        height:20px !important;   
            width:60%;     
        }
        .searchParameters div span{ 
            width:40%;     
        } 
    </style>
</head>
<body ondragstart="return false;" ondrop="return false;">
    <div class="container-fluid">
        <div class="row">
            <div class="col s12 m2 contenedor collection" id="slider">
                <div class="ccthsite" id="ccthsite">
                    <div style="height:55px;position:relative;">
                        <span style="position:absolute;bottom:5px;left:25px;">CEDIS @sesion.Cedis.CedisId  - @sesion.Cedis.Nombre </span>
                    </div>
                    <a href="@Url.Action("Index","OrdenGenerals")" class="collection-item @(ViewBag.ShowView == "Pedidos" ? "active":"")" onclick="carga()"><i class="material-icons ">content_copy</i> PEDIDOS</a>
                    <a href="@Url.Action("Index","OrdenAddresses")" class="collection-item @(ViewBag.ShowView == "Clientes" ? "active":"")" onclick="carga()"><i class="material-icons ">group</i> CLIENTES</a>
                    <a href="@Url.Action("Index","Productos")" class="collection-item @(ViewBag.ShowView == "Productos" ? "active":"")" onclick="carga()"><i class="material-icons ">storage</i> PRODUCTOS</a>
                    <a href="@Url.Action("Index","Reports")" class="collection-item @(ViewBag.ShowView == "Reportes" ? "active":"")" onclick="carga()"><i class="material-icons ">event_note</i> REPORTES</a>
                    <a href="@Url.Action("Index","Cedis")" class="collection-item @(ViewBag.ShowView == "Configuracion" ? "active":"")" onclick="carga()"><i class="material-icons ">settings</i> CONFIGURACIÓN</a>
                    <a href="@Url.Action("Logout","OrdenGenerals")" class="collection-item" onclick="carga()" style="border-bottom:1px #e0e0e0 solid;"><i class="material-icons ">exit_to_app</i> SALIR</a>
                </div>
                <div class="ccthsiteresponsive" id="ccthsiteresponsive">
                    <a href="@Url.Action("Index","OrdenGenerals")" class="collection-item @(ViewBag.ShowView == "Pedidos" ? "active":"")" onclick="carga()"><i class="material-icons ">content_copy</i> PEDIDOS</a>
                    <a href="@Url.Action("Index","OrdenAddresses")" class="collection-item @(ViewBag.ShowView == "Clientes" ? "active":"")" onclick="carga()"><i class="material-icons ">group</i> CLIENTES</a>
                    <a href="@Url.Action("Index","Productos")" class="collection-item @(ViewBag.ShowView == "Productos" ? "active":"")" onclick="carga()"><i class="material-icons ">storage</i> PRODUCTOS</a>
                    <a href="@Url.Action("Index","Reports")" class="collection-item @(ViewBag.ShowView == "Reportes" ? "active":"")" onclick="carga()"><i class="material-icons ">event_note</i> REPORTES</a>
                    <a href="@Url.Action("Index","Cedis")" class="collection-item @(ViewBag.ShowView == "Configuracion" ? "active":"")" onclick="carga()"><i class="material-icons ">settings</i> CONFIGURACIÓN</a>
                    <a href="@Url.Action("Logout","OrdenGenerals")" class="collection-item" onclick="carga()"><i class="material-icons ">exit_to_app</i> SALIR</a>
                </div>
            </div>
            <div id="header">
                 @Html.Partial("_PanelMenuCCTH")                              
            </div>
            <div class="col s12 m10 offset-m2 " style="height:90vh !important;padding-bottom:0px; padding-top:85px;">
                <div id="rederbody">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("_modals")
    <div id="carga">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                    <div class="circle"></div>
                </div><div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="g-alert" id="g-alerts">
        <span id="alertMessages">

        </span>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    @*<script src="~/Scripts/materialize/materialize.min.js"></script>*@
    <script>

        $(document).ready(function(){
            $('.modal').modal();
        });

        let alerts = @Html.Raw(Json.Encode(@ViewBag.alerts));
        var deslis = 0;
        var msj = document.getElementById("alertMessages");

        if(alerts != null){
            if(alerts.Success){
                alertsSuccess(alerts.Content);
            }else{
                alertsWarning(alerts.Error);
            }    
        }

        function menuResponsive()
        {
            if (deslis == 0) {
                document.getElementById("ccthsiteresponsive").style.display = "inline";
                document.getElementById("ccthsiteresponsive").style.position = "absolute";
                document.getElementById("ccthsiteresponsive").style.top = "14%";
                document.getElementById("ccthsiteresponsive").style.left = "2%";
                document.getElementById("ccthsiteresponsive").style.right = "2%";
                document.getElementById("ccthsiteresponsive").style.background = "white";
                document.getElementById("ccthsiteresponsive").style.zIndex = "1000";
                document.getElementById("rederbody").style.display = "none";
                deslis = 1;
            } else {
                document.getElementById("rederbody").style.display = "inline";
                document.getElementById("ccthsiteresponsive").style.display = "none";
                document.getElementById("ccthsiteresponsive").style.paddingTop = "0px";
                document.getElementById("ccthsiteresponsive").style.zIndex = "1000";
                deslis = 0;
            }
        }
        function alertsWarning(text){
            var elem = document.getElementById("g-alerts");
            elem.className = "g-alert";
            msj.innerHTML = text;
            document.getElementById("g-alerts").style.display = "flex";
            setTimeout(alertsClose, 5000);        
        }
        function alertsSuccess(text){
            var elem = document.getElementById("g-alerts");
            elem.className = "g-success";
            msj.innerHTML = text;
            document.getElementById("g-alerts").style.display = "flex";
            setTimeout(alertsClose, 5000);        
        }
        function alertsClose(){
            document.getElementById("g-alerts").style.display = "none";
        }
        function carga() {
            document.getElementById("carga").style.display = "flex";
            document.getElementsByTagName("body").overflow = "no-display";
            console.log("carga...");
        }
        function ocultarCarga() {
            document.getElementById("carga").style.display = "none";
        }
        /* *************** modals********************** */
        var customerSearchFilter = [];
        var productsSearchFilter = [];
        var tableSearchCustomers = document.getElementById("dataCustomers");
        var tableSearchProducts = document.getElementById("dataProducts");

        function SearchAdvanceSelect(opcion) {
            if(opcion == "customers"){
                var itemSearch = "";
                var Name = document.getElementById("FName").value;
                var Email = document.getElementById("FEmail").value;
                var Tel = document.getElementById("FTel").value;
                var Cuc = document.getElementById("FCuc").value;
                var Ruta = document.getElementById("Ruta").value;
                var BarCode = document.getElementById("FBarCode").value;

                itemSearch += Name != "" ? Name + "," : "0,";
                itemSearch += Email != "" ? Email + "," :"0,";
                itemSearch += Tel != "" ? Tel + "," :"0,";
                itemSearch += Cuc != "" ? Cuc + ",": "0,";
                itemSearch += Ruta != "" ? Ruta + "," :"0,";
                itemSearch += BarCode != "" ? BarCode + "," :"0";

                if (itemSearch != "0,0,0,0,0,0") {
                    customersSearchAdvanceRequest(itemSearch);
                }            
            }
            if(opcion == "products"){
                debugger;
                var itemSearch = "";
                var route = document.getElementById("Ruta").value;
                var name = document.getElementById("FNameProduct").value;
                var code = document.getElementById("FCodeProduct").value;
                
                itemSearch += name != "" ? name + "," : "0,";
                itemSearch += code != "" ? code : "0";
                //console.log(itemSearch);
                if(itemSearch != "0,0"){
                    productsSearchAdvanceRequest(itemSearch,route);                
                }
            }
        }
        function customersSearchAdvanceRequest(itemSearch) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("GetCustomersSearchFilter", "OrdenGenerals")",
                data: '{itemSearch: "' + itemSearch + '"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    if (customerSearchFilter.length > 0) {
                        customerSearchFilterHidden();
                    }
                    customerSearchFilter[0] = response.data;
                    //console.log(customerSearchFilter[0]);
                    customerSearchFilterShow();                  
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response,status,error) {
                    alert(response.responseText);
                }
            });        
        }
        function customerSearchFilterShow() {
            customerSearchFilter[0].forEach(key=> {
                var tr = document.createElement('tr');
                var td1 = document.createElement('td');
                var td2 = document.createElement('td');
                var td3 = document.createElement('td');
                var td4 = document.createElement('td');
                var td5 = document.createElement('td');
                var span1 = document.createElement('span');
                var span2 = document.createElement('span');
                var span3 = document.createElement('span');
                var span4 = document.createElement('span');
                var span5 = document.createElement('span');

                tr.id = "tr" + key.Id;
                span1.innerHTML = key.Name;
                span2.innerHTML = key.Email;
                span3.innerHTML = key.Tel;
                span4.innerHTML = key.Cuc;
                span5.innerHTML = key.BarCode;

                //tr.setAttribute('onclick', "remove('" + key + "','" + code + "')");
                tr.setAttribute('onclick', "customerSetForm(" + ArrayIndexof(key.Id, customerSearchFilter[0]) + ")")
                //td1.style = "width:30%";
                //td2.style = "width:50%";
                //td3.style = "width:10%";
                //td4.style = "width:10%";

                td1.appendChild(span1);
                td2.appendChild(span2);
                td3.appendChild(span3);
                td4.appendChild(span4);
                td5.appendChild(span5);

                tr.appendChild(td1);
                tr.appendChild(td2);
                tr.appendChild(td3);
                tr.appendChild(td4);
                tr.appendChild(td5);

                tableSearchCustomers.appendChild(tr);
            });
        }
        function customerSearchFilterHidden() {
            if (customerSearchFilter[0] != null) {
                customerSearchFilter[0].forEach(key=> {
                    var idop = "tr" + key.Id;
                    var test = document.getElementById(idop);
                    if (test != null) {
                        document.getElementById(idop).remove();
                    }
                });            
            }
        }
        function customerSetForm(index) {
            document.getElementById("Cliente").value = customerSearchFilter[0][index].BarCode;
            document.getElementById("name").value = customerSearchFilter[0][index].Name;
            document.getElementById("WantBill").checked = customerSearchFilter[0][index].WantBill;

            $('#searchcustomermodal').modal('close');
        }
        function ArrayIndexof(value, array) {
            for (var i = 0; i < array.length; i++) {
                if (array[i].Id == value) {
                    return i;
                }
            }
        }
        function validateInputRegexCharacterSpecial(event) {
            var value = document.getElementById(event.target.id).value;
            var patt = new RegExp(/^[A-Za-z0-9\s]+$/g);
            var res = patt.test(value);
            if(!res)
            {
                document.getElementById("FName").value = value.substring(0, value.indexOf(event.key));
                //console.log(value.substring(0, value.indexOf(event.key)));
            }
        }
    
        function productsSearchAdvanceRequest(itemSearch,route) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("GetProductsSearchFilter", "OrdenGenerals")",
                data: '{itemSearch: "' + itemSearch + '",route:' + route + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    if (productsSearchFilter.length > 0) {
                        productsSearchFilterHidden();
                    }
                    productsSearchFilter[0] = response.data;
                    //console.log(productsSearchFilter[0]);
                    ProductsSearchFilterShow();                  
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response,status,error) {
                    alert(response.responseText);
                }
            });        
        }
        function ProductsSearchFilterShow() {
            productsSearchFilter[0].forEach(key=> {
                var tr = document.createElement('tr');
                var td1 = document.createElement('td');
                var td2 = document.createElement('td');
                var td3 = document.createElement('td');
                var span1 = document.createElement('span');
                var span2 = document.createElement('span');
                var span3 = document.createElement('span');

                tr.id = "tr" + key.Id;
                span1.innerHTML = key.Name;
                span2.innerHTML = key.Code;
                span3.innerHTML = key.Type;

                //tr.setAttribute('onclick', "remove('" + key + "','" + code + "')");
                tr.setAttribute('onclick', "productSetForm(" + ArrayIndexof(key.Id, productsSearchFilter[0]) + ")")
                //td1.style = "width:30%";
                //td2.style = "width:50%";
                //td3.style = "width:10%";
                //td4.style = "width:10%";

                td1.appendChild(span1);
                td2.appendChild(span2);
                td3.appendChild(span3);

                tr.appendChild(td1);
                tr.appendChild(td2);
                tr.appendChild(td3);
                tableSearchProducts.appendChild(tr);
            });
        }
        function productsSearchFilterHidden() {
            if (productsSearchFilter[0] != null) {
                productsSearchFilter[0].forEach(key=> {
                    var idop = "tr" + key.Id;
                    var test = document.getElementById(idop);
                    if (test != null) {
                        document.getElementById(idop).remove();
                    }
                });            
            }
        }
        function productSetForm(index) {
            document.getElementById("Producto").value = productsSearchFilter[0][index].Code;

            $('#searchProductmodal').modal('close');
        }
        
        function validaNumericos(event) {
            if(event.charCode >= 48 && event.charCode <= 57){
                return true;
            }
            return false;        
        }
    </script>
    <script src="~/Scripts/restClient.js"></script>
</body>
</html>
