﻿@model IEnumerable<CCTH_Administrador_Pedidos.Models.PedidosDet>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_PanelAdminCCTH.cshtml";
}
<div class="row">
    <div class="col s12 card"style="margin:0px;" >
        <div class="row" style="padding-top:10px;">
            <div class="col s12 m10" style="padding-left:0px;"><b>CLIENTES</b></div>
            <br />
            <div>
                <p style="color:orangered">&#9632; Cliente no validado</p>
                <p style="color:mediumpurple">&#9632; Existen otros pedidos para el mismo cliente sin validar</p>
            </div>
            @if ((string)ViewBag.stateOrder.ToString() == "PENDIENTE" && !ViewBag.CantConfirm) 
             { 
                <div class="col s12 m2"><a class="btn btn-default colorthme" style="padding:2px 5px;width:100%;" onclick="AllValidate();">CONFIRMAR TODOS</a></div>
             }
        </div>
        <div class="row">          
            <table>
                <thead>
                    <tr>
                        <th style="width:10%;">CUSTOMER ID</th>
                        <th style="width:19%;">NOMBRE</th>
                        <th style="width:20%;">CORREO</th>
                        <th style="width:10%;">TELÉFONO</th>
                        <th style="width:10%;">TIPO DE DIRECCION</th>
                        <th style="width:10%;">PEDIDO</th>
                        <th style="width:10%;">CLIENTE</th>
                        <th style="width:10%;">VALIDAR</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="row listDetail" id="DetClientes">       
            <table class="responsive-table bordered highlight striped">
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr onclick="select(@item.Id);" id="@("select" + @item.Id)">
                        <td style="width:10%;">
                            @item.Cliente.Id @*@item.Id @item.Cliente.CUSTOMER_ID*@
                        </td>
                        <td style="width:19%;">
                            @item.Cliente.FIRSTNAME @item.Cliente.LASTNAME
                        </td>
                        <td style="width:20%;">
                            @item.Cliente.EMAIL
                        </td>
                        <td style="width:11%;">
                            @item.Cliente.TELEPHONE
                        </td>
                        <td style="width:10%;">
                            @item.Cliente.ADDRESS_TYPE
                        </td>
                        <td style="width:10%;">
                            @{  var status = (string)ViewBag.stateOrder.ToString();
                                switch (status)
                                {
                                    case "PENDIENTE":
                                        @Html.ActionLink("EDITAR", "EditOrder", new { id = item.Id }, new { @onclick = "carga()" })
                                        break;
                                    case "PREPARADO":
                                        @Html.ActionLink("EDITAR", "EditOrder", new { id = item.Id }, new { @onclick = "carga()" })
                                        break;
                                    case "CONFIRMADO":
                                        break;
                                    case "VALIDADO":

                                        break;
                                    case "CANCELADO":
                                        @Html.ActionLink("EDITAR", "EditOrder", new { id = item.Id }, new { @onclick = "carga()" })
                                        break;
                                    case "COMPLETADO":
                                        break;
                                    default:
                                        break;
                                }
                            }
                        </td>
                        <td style="width:10%;">
                            @Html.ActionLink("EDITAR", "Edit", "OrdenAddresses", new { id = item.Cliente.Id, orderGeneralId = item.Id }, new { })
                        </td>
                        <td style="width:10%;">
                            
                            @{
                                if (ViewBag.stateOrder.ToString().Equals("PENDIENTE") && !item.CanBeSetToPrepared)
                                {
                                    <p style="color:mediumpurple">&#9632;</p>
                                }
                            }
                            @{
                                if (string.IsNullOrEmpty(item.Cliente.BarCode) && string.IsNullOrEmpty(item.Cliente.CRM_Id))
                                {
                                    <p style="color:orangered">&#9632;</p>
                                }
                            }
                            @{ if (!string.IsNullOrEmpty(item.Cliente.BarCode) && !string.IsNullOrEmpty(item.Cliente.CRM_Id) && item.CanBeSetToPrepared)
                                {
                                    <a id="validateOrder-btn" onclick="ValidateOrder(@item.Id)" style="cursor:pointer"> VALIDAR</a>
                                }
                            }
                        </td>
                        
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>  
<div class="row" >
    <div class="col s12 card">
        <div class="row" style="padding-top:10px;">
            <b>PRODUCTOS</b>
            <table>
                <thead>
                    <tr>
                        <th style="width:20%;">ITEM ID</th>
                        <th style="width:40%;">NOMBRE</th>
                        @*<th style="width:10%;">SKU</th>*@
                        <th style="width:10%;">CANTIDAD</th>
                        @*<th style="width:10%;">PRECIO</th>
                        <th style="width:10%;">TOTAL</th>*@
                    </tr>
                </thead>
            </table>
        </div>
        <div class="row listDetail" id="DetProductos">
            <table class="responsive-table bordered highlight striped">
                <tbody id="tbdet">
                    @foreach (var item in Model)
                    {
                        foreach (var key in item.Producto)
                        {
                            <tr id="@("op" + @item.Id + @key.ITEM_ID)">
                                <td style="width:20%;">
                                   @key.ITEM_ID @*@item.Id*@
                                </td>
                                <td style="width:40%;">
                                    @key.NAME
                                </td>
                                @*<td style="width:10%;">
                                    @key.SKU
                                </td>*@
                                <td style="width:10%;">
                                    @key.QTY_ORDERED
                                </td>
                                @*<td style="width:10%;">
                                    @key.PRICE
                                </td>
                                <td style="width:10%;">
                                    @key.ROW_TOTAL
                                </td>*@
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <a class="btn btn-default colorthme" href="javascript:window.history.go(-1);">ATRAS</a>
</div> 
<script src="~/Scripts/ajax.googleapis.js"></script>
<script>
    let ids = @Html.Raw(Json.Encode(@ViewBag.Ids));
    var cont = 0;
    var listOrder = "";
    selectdefault();
    orders();

    function select(id) {
        ids.forEach(key=>{            
            key.Producto.forEach(item=>{
                var idx = "op";
                if(item.InterId == id)
                {   
                    selctfocus(id);
                    idx += item.InterId + "" + item.ITEM_ID;
                    document.getElementById(idx).style.display = "table-row";
                    idx = "";
                }else{                  
                    idx += item.InterId + "" + item.ITEM_ID;
                    if(typeof document.getElementById(idx)!=="undefined"){ 
                        selctblur(key.Id);
                        document.getElementById(idx).style.display = "none";
                        idx = "";
                    } 
                }            
            });
        });
    }
    function selectdefault() {   
        select(ids[0].Id);
    }
    function selctfocus(id){
        var idx = "select" + id;
        document.getElementById(idx).style.border = "2px #F94F00 solid";
        //document.getElementById(idx).style.color = "white";
        //document.getElementById(idx).style.background = "#26A69A";
    }
    function selctblur(id){
        var idx = "select" + id;
        document.getElementById(idx).style.border = "0px";
        //document.getElementById(idx).style.color = "black";
        //document.getElementById(idx).style.background = "white";
    }
    function orders(){
        for(var key=0;key < ids.length; key++){
            listOrder += ids[key].Id;
            if (key != ids.length - 1){
                listOrder +=",";
            }
        }
    }
    function AllValidate(){
        document.getElementById("carga").style.display = "flex";
        $.ajax({
            type: "POST",
            url: "@Url.Action("ValidateListOrder", "OrdenGenerals")",
            data: '{Ids: "' + listOrder + '"}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                    window.location.assign('@Url.Action("Index", "OrdenGenerals")' + "?text=" + response.Error + "&complete=" + response.Success);
            },
            failure: function (response) {
                alertsWarning(response.responseText);
            },
            error: function (response,status,error) {
                alertsWarning(response.responseText);
            }
        });            
    }

    function ValidateOrder(orderId){
        document.getElementById("carga").style.display = "flex";
        $.ajax({
            type: "POST",
            url: "@Url.Action("ValidateListOrder", "OrdenGenerals")",
            data: '{Ids: "' + orderId + '"}',
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (response) {
            window.location.assign('@Url.Action("Index", "OrdenGenerals")' + "?text=" + response.Error + "&complete=" + response.Success);
        },
        failure: function (response) {
            alertsWarning(response.responseText);
        },
        error: function (response,status,error) {
            alertsWarning(response.responseText);
        }
    });            
    }
</script>