﻿@model CCTH_Administrador_Pedidos.Models.PedidoEdit

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_PanelAdminCCTH.cshtml";
}

@using (Html.BeginForm("Edit", "OrdenGenerals", null, FormMethod.Post, htmlAttributes: new { onsubmit = "return CargaDatos(this)" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="ArrayProducto" id="ArrayProducto" />
    <input type="hidden" name="ArrayRemove" id="ArrayRemove" />
    <input type="hidden" name="InterId" id="InterId" value=""/>
        <div class="row">
            <div class="col s12 m6 ">
                <div class="card" style="padding:0px 15px;height:400px;">
                    <h6 style="padding:10px 15px 5px 15px;"><b>ENCABEZADO</b></h6><hr />
                    <div class="row">
                        <div class="col s12 m9 offset-m1 inputsFormRow">
                            <span>RUTA</span>
                            @*<input type="number" name="Ruta" id="Ruta" class="inputMin" value="" />*@
                            <select name="Ruta" id="Ruta" class="browser-default" style="height:30px;margin-top:20px;padding: 0px !important;">
                                @foreach (var key in ViewBag.Rutas)
                                {
                                    <option value="@key.RouteCodeOpecd" id="@("Ruta" + key.RouteCodeOpecd)">@key.RouteCodeOpecd </option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m9 offset-m1 inputsFormRow">
                            <span>Fecha Entrega</span>
                            <input type="date" value="@(ViewBag.PayDesk)" min="@(ViewBag.MinDate)" max="@(ViewBag.NextDay)" name="FEntrega" id="FEntrega" class="inputMin" onfocus="hiddenlistCustomer();"/>
                        </div>
                    </div>
                    <div class="row" style="position:relative;">
                        <div class="col s12 m9 offset-m1 inputsFormRow" style="position:relative">
                            <span>CLIENTE (CÓDIGO)</span>
                            <input type="text" name="Cliente" id="Cliente" class="inputMin" value="" onkeypress="searchCustomer(event)" required="required" autocomplete="off" />
                            <div id="resp" style="background:white;border:1px #DEDEDE solid; height: 100px; width:65%;right:1px;top:60px;overflow-y: scroll;position:absolute;display:none;z-index:10;"></div>
                        </div>
                        <div class="col s12 m1" style="position:absolute;right:20px;bottom:1px;">
                            <a class="modal-trigger" href="#searchcustomermodal"><i class="material-icons">search</i></a>
                        </div>                        
                    </div>
                    <div class="row">
                        <div class="col s12 m9 offset-m1 inputsFormRow">
                            <span>Nombre</span>
                            <input type="text" name="name" id="name" class="inputMin" value="" disabled style="color:black;font-weight:bold;" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col s12 m9 offset-m1 inputsFormRowBill">
                            <label style="margin-left:2%;">
                                <input class="checkboxInput" type="hidden" id="WantBill" name="WantBill" value="false">&emsp;
                                @*<span style="font-weight:bold;color:black;font-size:14px;">Facturar</span>*@
                            </label>
                        </div>
                    </div>
                </div>
                <div class="card" style="padding:0px 15px; height:240px;">
                    <h6 style="padding:10px 15px 5px 15px;"><b>DETALLE</b></h6><hr />
                    <div class="row" style="position:relative;">
                        <div class="col s12 m9 offset-m1 inputsFormRow">
                            <span>PRODUCTO</span>
                            <input type="text" name="Producto" id="Producto" class="inputMin" value="" />
                        </div>
                        <div class="col s12 m1" style="position:absolute;right:20px;bottom:1px;">
                            <a class="modal-trigger" href="#searchProductmodal"><i class="material-icons">search</i></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m9 offset-m1 inputsFormRow">
                            <span>CANTIDAD</span>
                            <input type="number" name="Cantidad" id="Cantidad" class="inputMin" value="" min="1" onkeypress="AddControl(event);" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 inputsFormRow" style="position:relative;">
                             <a class="btn btn-default colorthme" onclick="AddBase();" style="position:absolute;right:0px;">AGREGAR</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="card" style="padding:15px;height:659px;position:relative;">
                    <table class="striped bordered">
                        <thead>
                            <tr>
                                <th style="width:30%">CÓDIGO</th>
                                <th style="width:50%">PRODUCTO</th>
                                <th style="width:10%">CANTIDAD</th>
                                <th style="width:10%"></th>
                            </tr>
                        </thead>
                    </table>
                    <div class="listProducto">
                        <table id="listproductos">
                            @*<tr>
                                    <td style="width:30%">code 1</td>
                                    <td style="width:50%">producto 1</td>
                                    <td style="width:20%">1</td>
                                </tr>*@
                        </table>
                    </div><br />
                    <input type="submit" value="ACEPTAR" class="btn btn-default colorthme" style="position:absolute;bottom:15px;right:15px;"/>
                </div>
            </div>
        </div>
}
<script src="~/Scripts/ajax.googleapis.js"></script>
<script>
    var JSON = [];
    var REMOVES = [];
    let ped = @Html.Raw(Json.Encode(@ViewBag.Pedido));
    let prod =[]; //Html.Raw(Json.Encode(ViewBag.Productos));
    //let Cust =  Html.Raw(Json.Encode(ViewBag.Customer));
    //let Custname = Html.Raw(Json.Encode(ViewBag.Customername));

    var ruta = "Ruta" + ped.route_code;
    var Id = ped.InterId;
    var barCode = ped.customer_id;
    var customername = ped.name;

    if(ped.WantBill == 1){
        document.getElementById("WantBill").checked = true;
    }

    document.getElementById("Ruta").selected = "selected";
    document.getElementById("InterId").value = Id;
    document.getElementById("Cliente").value = barCode;
    document.getElementById("name").value = customername;


    var dateParts = ped.delivery_date.substring(0,10).split("/");
    //console.log(dateParts);
    var orderDate = new Date(dateParts[2], dateParts[1] - 1, dateParts[0]); // month is 0-based


    //var orderDate = new Date(ped.delivery_date.substring(0,10).replace("/","-").replace("/","-"));
    var mes = orderDate.getMonth()+1;
    var defaultdate = orderDate.getFullYear() + "-" + (mes<=9 ? '0' + mes: mes) + "-" + (orderDate.getDate() <= 9 ? '0' +orderDate.getDate() : orderDate.getDate());

    document.getElementById("FEntrega").defaultValue = defaultdate;

    var x = document.getElementById("listproductos");
    var y = document.getElementById("resp");
    var array = [];

    ped.items.forEach(key=>{
        var row = key.ITEM_ID + "$" + key.NAME  + "$" + key.QTY_ORDERED + "$" + key.InterId;
        array.push(row);
        ShowList(row);
    });

    var number = document.getElementById('Cantidad');document.getElementById("Ruta").selected = "selected";

    // Listen for input event on numInput.
    number.onkeydown = function (e) {
        //console.log(e.keyCode);
        if (!((e.keyCode > 95 && e.keyCode < 106)
          || (e.keyCode > 47 && e.keyCode < 58 || e.keyCode == 32)
          || e.keyCode == 8)) {
            return false;
        }
    }
    function validateOrder(pro,quanty) {
        var resp = true;
        if (pro == "" || quanty == "") {
            msj = "Campos vacíos.";
            resp = false;
        }
        return resp;
    }
    function AddBase(){
        var pro = document.getElementById("Producto").value;
        var quanty = document.getElementById("Cantidad").value;
        var route = document.getElementById("Ruta").value;
        if (validateOrder()) {
              $.ajax({
                    type: "POST",
                    url: "@Url.Action("ValidateProductList", "OrdenGenerals")",
                    //data: '{referencia: "' + $("#Referencia").val() + '" , tiposugerido: "' + $("#tiposugerido").val() + '"}',
                    data: '{code: "' + pro + '",route:' + route+ '}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                    //console.log(response);
                    if(response.Success){
                        prod[0] = response.Data;
                        Add(pro,quanty);
                    } else {
                        document.getElementById("Producto").focus();
                        alertsWarning(response.Error);
                    }
                    //console.log(prod);
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response,status,error) {
                    alert(response.responseText);
                }
            });        
        }else{
            document.getElementById("Producto").focus();
            alertsWarning(msj);
        }
    }
    function Add(pro,amount) {
        console.log(prod[0]);
        if (pro != "" && amount != "") {
            prod.forEach(key=>{
                var code = key.Nombre              
                if(pro == key.CodigoProducto)
                {                  
                    if (!ExistArray(pro)) {
                        var row = pro + "$" + code + "$" + amount + "$0";
                        array.push(row);
                        ShowList(row);
                    } else {
                        var productId = "";
                        ped.items.forEach(key=>{
                            if(pro == key.ITEM_ID){
                                productId = key.InterId;
                            }
                        });
                        ChangeAmount(pro, key.Nombre, amount,productId);
                    }
                }
            });
            document.getElementById("Producto").focus();
        }
        document.getElementById("Producto").value = "";
        document.getElementById("Cantidad").value = "";
    }
    function AddControl(evt){
        var charCode = (evt.which) ? evt.which : event.keyCode

        if (charCode == 32) {
            AddBase();
        }
    }
    function remove(i, id) {
        console.clear();
        var temp = "tr" + id;
        array.splice(onChangeCount(i), 1);
        document.getElementById(temp).remove();
        REMOVES.push(id);
        console.log(REMOVES);
    }
    function ShowList(key) {
        var tr = document.createElement('tr');
        var td1 = document.createElement('td');
        var td2 = document.createElement('td');
        var td3 = document.createElement('td');
        var td4 = document.createElement('td');
        var span1 = document.createElement('span');
        var span2 = document.createElement('span');
        var span3 = document.createElement('span');
        var span4 = document.createElement('span');

        var code = key.substring(0, key.indexOf("$"));
        var base = key.substring(key.indexOf("$") + 1);
        var pro = base.substring(0, base.indexOf("$"));
        var baseinter = base.substring(base.indexOf("$") + 1);
        var quanty = baseinter.substring(0,baseinter.indexOf("$"));
        var productId = baseinter.substring(baseinter.indexOf("$") + 1);;

        //console.log("code: " + code);
        //console.log("name: " + pro);
        //console.log("quanty: " + quanty);
        //console.log("productId : " + productId);

        tr.id = "tr" + code;
        span1.innerHTML = code;
        span2.innerHTML = pro;
        span3.innerHTML = quanty;
        span4.innerHTML = " X ";

        span3.id = "span" + code;
        span4.setAttribute('onclick', "remove('" + key + "','" + code + "')");

        td1.style = "width:30%";
        td2.style = "width:50%";
        td3.style = "width:10%";
        td4.style = "width:10%";

        td1.appendChild(span1);
        td2.appendChild(span2);
        td3.appendChild(span3);
        td4.appendChild(span4);

        tr.appendChild(td1);
        tr.appendChild(td2);
        tr.appendChild(td3);
        tr.appendChild(td4);

        x.appendChild(tr);
    }
    function ExistArray(value) {
        var resp = false;
        if (array.length > 0) {
            array.forEach(key => {
                if (key.substring(0, key.indexOf("$")) == value) {
                    //var base = key.substring(key.indexOf("$") + 1);
                    //var amount = base.substring(base.indexOf("$") + 1);
                    resp = true;
                }
            });
        } else {
            resp = false;
        }
        return resp;
    }
    function ExistProd(value) {
        var resp = false;
        if (prod.length > 0) {
            prod.forEach(key => {
                if (key.CodigoProducto == value) {
                    resp = true;
                }
            });
        } else {
            resp = false;
        }
        return resp;
    }
    function ChangeAmount(value, name, quanty,productId) {
        var update;
        //var count = parseInt(quanty);
        //console.log("cantidad nueva: " + quanty);
        array.forEach(key => {
            if (key.substring(0, key.indexOf("$")) == value) {
                update = onChangeCount(key);
                //var base = key.substring(key.indexOf("$") + 1);
                //var temp = base.substring(base.indexOf("$") + 1);
                //console.log("catidad anterior: " + temp);
                //count += parseInt(temp);
            }
        });
        //console.log("SUM: " + quanty);
        var row = value + "$" + name + "$" + quanty + "$" + productId;
        var td = "span" + value;
        array[update] = row;
        document.getElementById(td).innerHTML = quanty;
    }
    function onChangeCount(value) {
        console.log("count: " + value);
        // console.log(this.state.productos)
        for (var i = 0; i < array.length; i++) {
            if (array[i] == value) {
                return i;
            }
        }
    }
    function searchCustomer(evt){
        var cli = document.getElementById("Cliente").value;
        var charCode = (evt.which) ? evt.which : event.keyCode
        //alert (charCode);
            if (charCode == 32) {
                showlistCustomer();
                //if(cli == ""){
                //    document.getElementById("name").value = "";
                //}
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("CustomerFilter", "OrdenAddresses")",
                    //data: '{referencia: "' + $("#Referencia").val() + '" , tiposugerido: "' + $("#tiposugerido").val() + '"}',
                    data: '{id: "' + $("#Cliente").val() + '"}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        if (JSON.length > 0) {
                            removelist();
                        }
                        if (response.Success) {
                            JSON[0] = response.Data;
                            //console.log(JSON);
                            customerFilter();
                        } else {
                            hiddenlistCustomer();
                            alertsWarning(response.Error);
                        }
                    },
                    failure: function (response) {
                        alertsWarning(response.responseText);
                    },
                    error: function (response,status,error) {
                        alertsWarning(response.responseText);
                    }
                });
        }
    }
    function customerFilter()
    {
        JSON[JSON.length - 1].forEach(key=> {
            document.getElementById("resp").style.display = "inline";
            if (key.value != undefined) {
                var row = document.createElement('div');
                var clave = document.createElement('spam');
                var nombre = document.createElement('spam');
                var salto = document.createElement('br');

                var ids = "op" + key.value
                row.id = ids;
                row.className = "row selectSearchProd";
                row.setAttribute('onclick', "Addcustomerfilter('" + key.value + "','" + key.name +"')");
                clave.className = "col-xs-4";
                nombre.className = "col-xs-8";

                clave.innerHTML = key.value;
                nombre.innerHTML = key.name;

                row.appendChild(nombre);
                row.appendChild(salto);
                row.appendChild(clave);

                y.appendChild(row);
            }
        });
    }
    function removelist() {
        JSON[JSON.length - 1].forEach(key=> {
            var idop = "op" + key.BarCode;
            var test = document.getElementById(idop);
            if (test != null) {
                document.getElementById(idop).remove();
            }
        });
    }
    function showlistCustomer() {
        document.getElementById("resp").style.display = "inline";
    }
    function hiddenlistCustomer()
    {
        document.getElementById("resp").style.display = "none";
    }
    function Addcustomerfilter(barcode,name){
        document.getElementById("Cliente").value = barcode;
        document.getElementById("name").value = name;
        document.getElementById("resp").style.display = "none";
    }

    function CargaDatos() {
        var resp = false;
        if (array.length > 0) {
            document.getElementById('ArrayProducto').value = array; 
            document.getElementById('ArrayRemove').value = REMOVES;
            resp = true;
        } else {
            alertsWarning("No hay productos agregados.");
            document.getElementById("carga").style.display = "none";
            resp = false;
        }
        return resp;
    }
</script>