﻿@model IEnumerable<CCTH_Administrador_Pedidos.Models.PedidosEnc>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PanelAdminCCTH.cshtml";
}
<div class="row">
    <div class="col s12 m3 inputsDate20">
        <i class="material-icons">date_range</i>&emsp;<input type="date" id="date"  onchange="setTableToPageOne()"/>
    </div>
    <div class="col s12 m3 inputsDate20">
        <span style="padding-top:11px;"><b>STATUS</b></span>&emsp;
        <select class="browser-default" name="statuspedido" id="status" onchange="setTableToPageOne()">
            <option value="" selected>TODOS</option>
            <option value="pendiente">PENDIENTE</option>
            <option value="preparado">PREPARADO</option>
            <option value="enviado">ENVIADO</option>
            <option value="confirmado">CONFIRMADO</option>
            <option value="validado">VALIDADO</option>
            <option value="cancelado">CANCELADO</option>
            <option value="completado">COMPLETADO</option>
        </select>
    </div>
    <div class="col s12 m2 inputsListDrop20">
        <span style="padding-top:11px;"><b>RUTAS</b></span>&emsp;
        <select name="Ruta" id="route" class="browser-default" onchange="setTableToPageOne()">
            <option value="" selected>TODAS</option>
            @foreach (var key in ViewBag.Rutas)
            {
                <option value="@key.RouteCodeOpecd" id="@key.RouteCodeOpecd">@key.RouteCodeOpecd </option>
            }
        </select>

    </div>
    @*<div class="col s12 m4 nav-wrapper botonSearh input-field" style="padding:0px;">
        <a class="btn btn-default" style="width:80%;">BUSCAR</a>

        <input id="searchTerm" type="search" placeholder="Buscar..." required style="height:48px;margin-top:-15px;border:1px #E0E0E0 solid" onkeyup="reloadTable()">
        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        <i class="material-icons" style="margin-top:-6px;">close</i>

    </div>*@
    <div class="col s12 m4" style="height:60px; padding-top:1px;">
        <button id="searchBtn" onclick="reloadTable()" class="btn btn-default colorthme deep-orange waves-effect">Buscar</button>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <div class="row">
            <table id="ordersTable" class="striped text-center">
                <thead>
                    <tr>
                        <th style="width:15%;">REFERENCIA</th>
                        <th style="width:15%;">FECHA</th>
                        <th style="width:15%;">RUTA</th>
                        <th style="width:15%;">VIAJE</th>
                        <th style="width:15%;">STATUS</th>
                        <th style="width:15%;">ACCIONES</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<link rel="stylesheet" href="http://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" type="text/css"/>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script type="text/javascript">

    var table;
    var pageNumber = 0;
    var filtersChanged = false;

    $(document).ready(function () {

        table = loadTable(createUriForSearching());
    //    setTimeout(function () {
    //        setInterval(function () {
    //            reloadTable();
    //}, 10000);
    //}, 5000);

    });

    function reloadTable() {
        pageNumber = table.page();
        table.destroy();
        table = loadTable(createUriForSearching());
    }

    function drawTablePage() {
        if (table != undefined)
            table.page(pageNumber).draw(filtersChanged);
    }
    function setTableToPageOne() {
        filtersChanged = true;
    }
    function createUriForSearching() {
            var date = $("#date").val();
            var status = $("#status").val();
            var route = $("#route").val();

            var uriForSearching = "@Url.Action("getPedidos", "ordenGenerals")";
            var filtersChain = "?&cedisId=" + @ViewBag.Cedis;

            if (date != null && date != undefined && date != "")
                filtersChain += "&deliveryDate=" + date;

            if (status != null && status != undefined && status != "")
                filtersChain += "&status=" + status;

            if (route != null && route != undefined && route != "")
                filtersChain += "&route=" + route;

            if (filtersChain.length > 1) {
                filtersChain = filtersChain.replace("&", "");
                return uriForSearching + filtersChain;
            }

        return uriForSearching;
    }

    function loadTable(uriForSearching) {
        carga();
        return $('#ordersTable').DataTable({
            "initComplete": function(settings, json) {
                drawTablePage();
                filtersChanged = false;
                ocultarCarga();
            },
            "paging": true,
            "pageLength": 10,
            "ordering": true,
            "info": false,
            "searching": false,
            "ajax": {
                "url": uriForSearching,
                "type": "GET",
                "datatype": "json"
            },
            "columns": [
                { "data": "ORD_CreateFrom" },
                { "data": "DELIVERY_DATE" },
                { "data": "ROUTE_CODE" },
                { "data": "Viaje" },
                { "data": "ORD_StatusOrden" },
                {
                    "render": function (data, type, row, meta) {
                        return "<a href='ordenGenerals/details?id=" + row.ORD_OPECDId + "&date=" + row.DELIVERY_DATE + "&status=" + row.ORD_StatusOrden + "&route=" + row.ROUTE_CODE + "'> Ver </a>";
                    }
                }
            ],
            "serverSide": true
        });
    }


</script>