﻿@model IEnumerable<CCTH_Administrador_Pedidos.Models.InventoryDet>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_PanelAdminCCTH.cshtml";
}

<div class="row">
    <div class="col s12">
        <div class="row">
            <table>
                <thead>
                    <tr>
                        @*<th style="width:20%;">
                            VIAJE
                        </th>*@
                        <th style="width:20%;">
                            CÓDIGO
                        </th>
                        <th style="width:20%;">
                            NOMBRE
                        </th>
                        <th style="width:20%;">
                           CANTIDAD
                        </th>
                        <th style="width:20%;">
                           WBCID
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<div class="row listIndexCustomer">
    <div class="col s12">
        <div class="row ">
            <table class="responsive-table bordered highlight striped" id="datos">
                <tbody>
                @if (Model != null) {
                    foreach (var item in Model) {
                        <tr>
                            @*<td style="width:20%;">
                                @Html.DisplayFor(modelItem => item.TripId)
                            </td>*@
                            <td style="width:20%;">
                                @Html.DisplayFor(modelItem => item.ItemId)
                            </td>
                            <td style="width:20%;">
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td style="width:20%;">
                                @Html.DisplayFor(modelItem => item.Qty)
                            </td>
                            <td style="width:20%;">
                                @Html.DisplayFor(modelItem => item.WbcId)
                            </td>
                        </tr>
                    }
                }
                else {
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                }
                </tbody>
            </table><br />
            <a class="btn btn-default colorthme" href="@Url.Action("Index","Inventory")">ATRAS</a>
        </div>
    </div>
</div>