﻿@model IEnumerable<CCTH_Administrador_Pedidos.Models.InventoryEnc>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PanelAdminCCTH.cshtml";
}

<div class="row">
    <div class="col s12">
        <div class="row">
            <table>
                <thead>
                    <tr>
                        <th style="width:20%;">
                            VIAJE
                        </th>
                        <th style="width:20%;">
                            RUTA
                        </th>
                        <th style="width:20%;">
                           FECHA ENTREGA
                        </th>
                        <th style="width:20%;">
                            CEDI
                        </th>
                        <th>ACCIÓN</th>
                    </tr> 
                </thead>
            </table>
        </div>
    </div>
</div>
<div class="row listIndexCustomer">
    <div class="col s12">
        <div class="row ">
            <table class="responsive-table bordered highlight striped" id="datos">
                <tbody>
                @if (Model != null) {
                    foreach (var item in Model) {
                        <tr>
                            <td style="width:20%;">
                                @Html.DisplayFor(modelItem => item.TripId)
                            </td>
                            <td style="width:20%;">
                                @Html.DisplayFor(modelItem => item.Route)
                            </td>
                            <td style="width:20%;">
                                @Html.DisplayFor(modelItem => item.DeliveryDate).ToString().Substring(0, 10)
                            </td>
                            <td style="width:20%;">
                                @Html.DisplayFor(modelItem => item.CedisIdOpeCd)
                            </td>
                            <td style="width:20%;">
                                @Html.ActionLink("Ver", "Details", new { id = item.Id })
                            </td>
                        </tr>
                    }
                }
                else {
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>