﻿
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginCCTH.cshtml";
}

@using (Html.BeginForm("Validate", "OrdenGenerals", null, FormMethod.Post, htmlAttributes: new { @class = "formLogin", onsubmit = "carga()" }))
{
    <form class="formLogin">
        <div class="logocontet">
            <img src="~/Content/Img/bepensa.png" alt="logo" class="logo" />
        </div>
        <div class="formRow">
            <spam class="label">Usuario</spam>
        </div>
        <div class="formRowInput">
            <input type="text" id="User" name="User" class="form-control" placeholder="Usuario" required="required"  onkeypress="Clean(event);" onblur="searchCedisBlur();" autocomplete="off">
        </div>
        <div class="formRow">
            <spam class="label">Contraseña</spam>
        </div>
        <div class="formRowInput">
            <input type="password" id="Password" name="Password" class="form-control" placeholder="**********" required="required" onkeypress="Clean(event)">
        </div>
        <div class="formRow">
            <spam class="label">Cedis</spam>
        </div>
        <div class="formRowInput">
            <select name="Cedi" id="Cedi" class="form-control">
                @*<option value="43" id="optionBase1" style="text-align:right;">43 - pacabtún</option>
                <option value="2" id="optionBase2">12 - item</option>
                <option value="3" id="optionBase3">05 - item</option>*@
                @*@foreach (var key in ViewBag.Brach)
                    {
                        <option value="@key.BPLId" id="@("optionBase" + @key.BPLId)">@key.BPLName</option>
                    }*@
            </select>
        </div>

        <span id="mjsError">@ViewBag.msj</span>
        <input type="submit"  value="INGRESAR" class="btn btn-default button" id="btnLogin" />
        @*<a class="btn btn-default button" href="/OrdenGenerals/Index" onclick="carga()">INGRESAR</a>*@
    </form>
}
@*<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>*@
<script src="~/Scripts/ajax.googleapis.js"></script>
<script>
    var JSON = [];
    var x = document.getElementById("Cedi");
    var Usrform = "";
    document.getElementById("Password").disabled = true;
    document.getElementById("btnLogin").disabled = true;


    var validateuser = document.getElementById('User');

    // Listen for input event on numInput.
    validateuser.onkeydown = function (e) {
        //console.log(e.keyCode);
        var resp = false;
           // console.log(e.keyCode);
        if (((e.keyCode > 47 && e.keyCode < 58) || // numeric (0-9)
             (e.keyCode > 64 && e.keyCode < 91) || // upper alpha (A-Z)
             (e.keyCode == 13) || (e.keyCode == 09) || (e.keyCode == 08))) { // lower alpha (a-z) && enter
            resp = true;
        } else {
            resp = false;
        }
        return resp;
    }

    function Clean(e) {
        document.getElementById("mjsError").style.display = "none";
        
        tecla = (document.all) ? e.keyCode : e.which;
        searchCedis(e);
        //if (validateCaracters(tecla,e)) {
        //}
    }
    function validateCaracters(tecla,event) {
        var resp = false;
        var select = "";
        if ((tecla > 47 && tecla < 58) || // numeric (0-9)
             (tecla > 64 && tecla < 91) || // upper alpha (A-Z)
             (tecla > 96 && tecla < 123) || (tecla == 13)) { // lower alpha (a-z)
            resp = true;
        } else {
            select = event.key;
            resp = false;
        }
        var user = document.getElementById("User").value;
        var remove = user.replace(select, "");
        Usrform = remove;
        console.log(Usrform);
        document.getElementById("User").value = remove;
        return resp;
    }
    function searchCedis(e)
    {
        tecla = (document.all) ? e.keyCode : e.which;
        if (tecla == 13) {
            find();
        }
    }
    function searchCedisBlur() {
            find();
    }
    function find() {
            document.getElementById("carga").style.display = "flex";
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetCedis","OrdenGenerals")",
                    //data: '{referencia: "' + $("#Referencia").val() + '" , tiposugerido: "' + $("#tiposugerido").val() + '"}',
                    data: '{User: "' + $("#User").val() + '", OnlyEnabled : "true"}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        if (JSON.length > 0) {
                            removelist();
                            //JSON =[];
                        }
                        JSON[0] = response;
                        console.log(JSON);
                        listCedis();
                        document.getElementById("carga").style.display = "none";
                        document.getElementById("Password").focus();
                        //alert("success" + response);
                    },
                    failure: function (response) {
                        //alert("Guardado!");
                        alertsWarning("Failure: " + response.responseText);
                        document.getElementById("carga").style.display = "none";
                    },
                    error: function (response) {
                        alertsWarning("Error: " + response.responseText);
                        document.getElementById("carga").style.display = "none";
                        //listBranch();
                        //alert("error" + response.responseText);
                    }
                });
            document.getElementById("Password").focus();
    }
    function listCedis() {
        JSON[JSON.length - 1].forEach(key=> {
            if (key.value != undefined) {
                var op = document.createElement('option');
                var idop = "op" + key.value;
                op.id = idop;
                op.value = key.value;
                if (key.error == true) {
                    document.getElementById("mjsError").style.display = "inherit";
                    document.getElementById("mjsError").innerHTML = key.name === "" ? key.value:key.name;
                    //document.getElementById("User").focus();
                } else {
                    op.text = key.name == "" ? key.value : key.value + " - " + key.name;
                }
                x.appendChild(op);
                if (key.error == true) {
                    document.getElementById("Password").disabled = true;
                    document.getElementById("btnLogin").disabled = true;
                } else {
                    document.getElementById("Password").disabled = false;
                    document.getElementById("btnLogin").disabled = false;
                }
            }
        });
    }
    function removelist() {
        JSON[JSON.length - 1].forEach(key=> {
            var idop = "op" + key.value;
            var test = document.getElementById(idop);
            if (test != null) {
                document.getElementById(idop).remove();
            }
        });
    }
</script>
