﻿@model CCTH_Administrador_Pedidos.Models.ConfigAuto

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_PanelAdminCCTH.cshtml";
}
<script src="~/Scripts/jquery-2.1.1.min.js"></script>
<div class="card" style="padding:15px;height:0 auto;">
    <h5>Crear Configuración Automática</h5>
    <br />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <input type="hidden" id="configuracionId" value="@Model.Id" />
        <div class="row">
            <div class="col s12 m6">
                <div class="col s12 m12 formcedis ">
                    <span>NOMBRE</span>
                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", @id = "nombre", @value = Model.Nombre } })
                </div>
            </div>

            <div class="col s12 m6">
                <div class="col s12 m12 formcedis ">
                    <span>SISTEMA</span>
                    @Html.EditorFor(model => model.Sistema, new { htmlAttributes = new { @class = "form-control", @id = "sistema", @value = Model.Sistema } })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m6">
                <div class="col s12 m12 formcedis ">
                    <span>HORA</span>
                    <input type="time" name="Hora" id="hora" value="@{ @Model.Hora }" />
                </div>
            </div>

            <div class="col s12 m6">
                <div class="col s12 m12 formcedis ">
                    <span>CEDIS</span>
                    @Html.EditorFor(model => model.Cedis, new { htmlAttributes = new { @class = "form-control", @id = "cedis", @value = Model.Cedis, @type = "number" } })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m6">
                <div class="col s12 m12 formcedis ">
                    <span>RUTA</span>
                    @Html.EditorFor(model => model.Ruta, new { htmlAttributes = new { @class = "form-control", @id = "ruta", @value = Model.Ruta, @type = "number" } })
                </div>
            </div>
            <div class="col s12 m6">
                <div class="col s12 m12 formcedis">
                    <span>STATUS</span>
                    <select class="browser-default" id="enabled" name="enabled">
                        <option value="" disabled selected>-o-</option>
                        @if (Model.Status == 1)
                        {
                            <option value="0">Inactivo</option>
                            <option value="1" selected="selected">Activo</option>
                        }
                        else
                        {
                            <option value="0" selected="selected">Inactivo</option>
                            <option value="1">Activo</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a class="btn btn-default" href="@Url.Action("Index","ConfiguracionAutomatica")">ATRAS</a>
                <button type="button" value="ACEPTAR" class="waves-effect waves-light btn" onclick="submitForm()">ACEPTAR</button>
            </div>
        </div>
    }
</div>
<script>


    function submitForm() {
        let formData = {
            Id: $("#configuracionId").val(),
            Nombre : $("#nombre").val(),
            Sistema : $("#sistema").val(),
            Cedis : $("#cedis").val(),
            Hora : $("#hora").val(),
            Ruta: $("#ruta").val(),
            Status: $("#enabled").val()
        }

        $.ajax({
            url: "@Url.Action(ViewBag.Action,"ConfiguracionAutomatica")",
            type: "@ViewBag.HttpMethod",
            data: formData,
            success:
                function (response) {
                    if (response.Success === true)
                        location.assign("@Url.Action("Index", "ConfiguracionAutomatica")");
                    else
                        debugger;
                        alert(response.Message);
                },
            error:
                function (xhr, ajaxOptions, thrownError) {
                    alert(thrownError);
                }
        });
    }
</script>
