﻿@model CCTH_Administrador_Pedidos.Models.ConfigAuto

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_PanelAdminCCTH.cshtml";
}

<div class="card" style="padding:15px;height:0 auto;">
    <h2>Editar Configuración Automática</h2>
    <br />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <input type="hidden" name="Id" id="Id" value="@{ @Model.Id }"/>
        <div class="row">
            <div class="col s12 m6">
                @*@Html.LabelFor(model => model.CedisName, htmlAttributes: new { @class = "col s12 m2" })*@
                <div class="col s12 m12 formcedis ">
                    <span>NOMBRE</span>
                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col s12 m6">
                @*@Html.LabelFor(model => model.CedisId, htmlAttributes: new { @class = "col s12 m2" })*@
                <div class="col s12 m12 formcedis ">
                    <span>SISTEMA</span>
                    @Html.EditorFor(model => model.Sistema, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.Sistema, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m6">
                @*@Html.LabelFor(model => model.CedisName, htmlAttributes: new { @class = "col s12 m2" })*@
                <div class="col s12 m12 formcedis ">
                    <span>HORA</span>
                    <input type="time" name="Hora" id="Hora" value="@{ @Model.Hora }" />
                </div>
            </div>

            <div class="col s12 m6">
                @*@Html.LabelFor(model => model.CedisId, htmlAttributes: new { @class = "col s12 m2" })*@
                <div class="col s12 m12 formcedis ">
                    <span>CEDIS</span>
                    @Html.EditorFor(model => model.Cedis, new { htmlAttributes = new { @class = "form-control", @required = "required" , @type = "number"} })
                    @Html.ValidationMessageFor(model => model.Cedis, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m6">
                @*@Html.LabelFor(model => model.Enable, htmlAttributes: new { @class = "control-label s12 m2" })*@
                <div class="col s12 m12 formcedis">
                    <span>Status</span>
                    @*@Html.EditorFor(model => model.Enable, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Enable, "", new { @class = "text-danger" })*@

                    <select class="browser-default" id="Enable" name="Enable">
                        <option value="" disabled selected>-o-</option>
                        @if (Model.Status == 1)
                        {
                            <option value="0">Inactivo</option>
                            <option value="1" selected="selected">Activo</option>
                        }
                        else
                        {
                            <option value="0" selected="selected">Inactivo</option>
                            <option value="1">Activo</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="ACEPTAR" class="waves-effect waves-light btn" />
            </div>
        </div>
    }
</div>
<script>

</script>