﻿@model IEnumerable<CCTH_Administrador_Pedidos.Models.ConfigAuto>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PanelAdminCCTH.cshtml";
    int countid = 0;
}

<p>
    @Html.ActionLink("NUEVA CONFIGURACIÓN", "Create", null, new { @class = "btn btn-default colorthme" })
</p>
<div class="row">
    <div class="col s12">
        <div class="row">
            <table>
                <thead>
                    <tr>
                        <th style="width:10%;text-align:center;">#</th>
                        <th style="width:10%;">CEDIS</th>
                        <th style="width:10%;">RUTA</th>
                        <th style="width:15%;">NOMBRE</th>
                        <th style="width:15%;">SISTEMA</th>
                        <th style="width:10%;">HORA</th>
                        <th style="width:15%;">ESTATUS</th>
                        <th style="width:15%;"></th>
                     
                    </tr>
                </thead>
            </table>
        </div>
        <div class="row listIndex">
            <table class="responsive-table bordered highlight striped">
                @foreach (var item in Model)
                {
                    <tr>
                        <td style="width:10%;text-align:center;">
                            @{countid++;}
                            @countid
                        </td>
                        <td style="width:10%;">
                            @Html.DisplayFor(modelItem => item.Cedis)
                        </td>
                        <td style="width:10%;">
                            @Html.DisplayFor(modelItem => item.Ruta)
                        </td>
                        <td style="width:15%;">
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td style="width:15%;">
                            @Html.DisplayFor(modelItem => item.Sistema)
                        </td>
                        <td style="width:10%;">
                            @Html.DisplayFor(modelItem => item.Hora)
                        </td>
                        <td style="width:15%;">
                            @{ var status = item.Status == 1 ? "Activo" : "Inactivo"; }
                            @status
                        </td>
                        <td style="width:15%;">
                            @Html.ActionLink("Editar", "Edit", new { id = item.Id })
                        </td>
                    </tr>
                                }
            </table>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-2.1.1.min.js"></script>
<script>
    function deleteRecord(recordId) {
        if (confirm("¿Desea eliminar el registro?")) {
            $.ajax({
                url: "@Url.Action("Delete","ConfiguracionAutomatica")",
                type: "POST",
                data: {id : recordId},
                success:
                function (response) {
                    if (response.Success === true)
                        $("#" + recordId).closest("tr").remove();
                    else
                        alert(response.Message);
                },
                error:
                    function (xhr, ajaxOptions, thrownError) {
                        alert(thrownError);
                    }
            });
        }

    }
</script>
